<a href="https://colab.research.google.com/github/hxm0707/Raw_Material_Price_Prediction/blob/main/LASSO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
test_periods = [
    ('2019-01-01', '2019-07-01'),
    ('2019-07-01', '2020-01-01'),
    ('2020-01-01', '2020-07-01'),
    ('2020-07-01', '2021-01-01'),
    ('2021-01-01', '2021-07-01'),
    ('2021-07-01', '2022-01-01'),
    ('2022-01-01', '2022-07-01'),
    ('2022-07-01', '2023-01-01'),
    ('2023-01-01', '2023-07-01'),
    ('2023-07-01', '2024-01-01'),
]

In [ ]:
def calculate_mape_1(test_start, test_end,alpha_low):
  # Split data into train and test sets
  train_df = feature_df[(feature_df['Time'] > '2015-12-31') & (feature_df['Time'] < test_start)]
  test_df = feature_df[(feature_df['Time'] >= test_start) & (feature_df['Time'] < test_end)]

  ## ------ This part needs to be changed for each forecasting horizon
  # Create X, y
  X_train = train_df.drop(['Time', 'Group Description', 'Year', 'Month', 'Average_price'],axis=1)
  X_test = test_df.drop(['Time', 'Group Description', 'Year','Month','Average_price'],axis=1)

  y_train = train_df['Average_price'].values
  y_test = test_df['Average_price'].values
  ## ------ This part needs to be changed for each forecasting horizon

  # Standardlisation
  scaler_x = StandardScaler()
  X_train_scaled = scaler_x.fit_transform(X_train)
  X_test_scaled = scaler_x.transform(X_test)
  scaler_y = StandardScaler()
  y_train_scaled = scaler_y.fit_transform(y_train.reshape(-1,1))
  y_test_scaled = scaler_y.transform(y_test.reshape(-1,1))
  # Define the parameter grid
  param_grid = {'alpha': np.linspace(alpha_low, 1, 3000)}
  # Create a Lasso regression model
  lasso = Lasso()
  # Create RandomizedSearchCV object
  random_search = RandomizedSearchCV(estimator=lasso,
                                   param_distributions=param_grid,
                                   n_iter=300,
                                   cv=5,
                                   random_state=42)
  # Fit the data to perform a grid search
  random_search.fit(X_train_scaled, y_train_scaled)
  assert random_search.n_features_in_ == len(X_train.columns)
  # Get the best Lasso model from RandomizedSearchCV
  best_lasso_model = random_search.best_estimator_
  # Predict on the test data
  y_pred_test = best_lasso_model.predict(X_test_scaled)
  y_pred_test_inverse = scaler_y.inverse_transform(y_pred_test.reshape(-1,1)) # the model was trained with log-transformed and standardlised y
  mape = round(mean_absolute_percentage_error(y_test,y_pred_test_inverse), 3)
  mape = mape * 100
  return (mape)

In [ ]:
def calculate_mape_3(test_start, test_end, alpha_low):
  # Split data into train and test sets
  train_df = feature_df[(feature_df['Time'] > '2015-12-31') & (feature_df['Time'] < test_start)]
  test_df = feature_df[(feature_df['Time'] >= test_start) & (feature_df['Time'] < test_end)]

  ## ------ This part needs to be changed for each forecasting horizon
  # Create X, y
  X_train = train_df.drop(['Time', 'Group Description', 'Year','Month','Average_price'],axis=1)
  X_train = X_train[X_train.columns.drop(list(X_train.filter(regex='_1$|_2$')))]
  X_test = test_df.drop(['Time', 'Group Description', 'Year','Month','Average_price'],axis=1)
  X_test = X_test[X_test.columns.drop(list(X_test.filter(regex='_1$|_2$')))]

  y_train = train_df['Average_price'].values
  y_test = test_df['Average_price'].values
  ## ------ This part needs to be changed for each forecasting horizon

  # Standardlisation
  scaler_x = StandardScaler()
  X_train_scaled = scaler_x.fit_transform(X_train)
  X_test_scaled = scaler_x.transform(X_test)
  scaler_y = StandardScaler()
  y_train_scaled = scaler_y.fit_transform(y_train.reshape(-1,1))
  y_test_scaled = scaler_y.transform(y_test.reshape(-1,1))
  # Define the parameter grid
  param_grid = {'alpha': np.linspace(alpha_low, 1, 3000)}
  # Create a Lasso regression model
  lasso = Lasso()
  # Create RandomizedSearchCV object
  random_search = RandomizedSearchCV(estimator=lasso,
                                   param_distributions=param_grid,
                                   n_iter=300,
                                   cv=5,
                                   random_state=42)
  # Fit the data to perform a grid search
  random_search.fit(X_train_scaled, y_train_scaled)
  assert random_search.n_features_in_ == len(X_train.columns)
  # Get the best Lasso model from RandomizedSearchCV
  best_lasso_model = random_search.best_estimator_
  # Predict on the test data
  y_pred_test = best_lasso_model.predict(X_test_scaled)
  y_pred_test_inverse = scaler_y.inverse_transform(y_pred_test.reshape(-1,1)) # the model was trained with log-transformed and standardlised y
  mape = round(mean_absolute_percentage_error(y_test,y_pred_test_inverse), 3)
  mape = mape * 100
  return (mape)

In [ ]:
def calculate_mape_6(test_start, test_end, alpha_low):
  # Split data into train and test sets
  train_df = feature_df[(feature_df['Time'] > '2015-12-31') & (feature_df['Time'] < test_start)]
  test_df = feature_df[(feature_df['Time'] >= test_start) & (feature_df['Time'] < test_end)]

  ## ------ This part needs to be changed for each forecasting horizon
  # Create X, y
  X_train = train_df.drop(['Time', 'Group Description', 'Year','Month','Average_price'],axis=1)
  X_train = X_train[X_train.columns.drop(list(X_train.filter(regex='_1$|_2$|_3$|_4$|_5$')))]
  X_test = test_df.drop(['Time', 'Group Description', 'Year','Month','Average_price'],axis=1)
  X_test = X_test[X_test.columns.drop(list(X_test.filter(regex='_1$|_2$|_3$|_4$|_5$')))]

  y_train = train_df['Average_price'].values
  y_test = test_df['Average_price'].values
  ## ------ This part needs to be changed for each forecasting horizon

  # Standardlisation
  scaler_x = StandardScaler()
  X_train_scaled = scaler_x.fit_transform(X_train)
  X_test_scaled = scaler_x.transform(X_test)
  scaler_y = StandardScaler()
  y_train_scaled = scaler_y.fit_transform(y_train.reshape(-1,1))
  y_test_scaled = scaler_y.transform(y_test.reshape(-1,1))
  # Define the parameter grid
  param_grid = {'alpha': np.linspace(alpha_low, 1, 3000)}
  # Create a Lasso regression model
  lasso = Lasso()
  # Create RandomizedSearchCV object
  random_search = RandomizedSearchCV(estimator=lasso,
                                   param_distributions=param_grid,
                                   n_iter=300,
                                   cv=5,
                                   random_state=42)
  # Fit the data to perform a grid search
  random_search.fit(X_train_scaled, y_train_scaled)
  assert random_search.n_features_in_ == len(X_train.columns)
  # Get the best Lasso model from RandomizedSearchCV
  best_lasso_model = random_search.best_estimator_
  # Predict on the test data
  y_pred_test = best_lasso_model.predict(X_test_scaled)
  y_pred_test_inverse = scaler_y.inverse_transform(y_pred_test.reshape(-1,1)) # the model was trained with log-transformed and standardlised y
  mape = round(mean_absolute_percentage_error(y_test,y_pred_test_inverse), 3)
  mape = mape * 100
  return (mape)

# Alkalis

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/alkalis_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM02/0001  RM02/0002  Year  Month       Time Group Description  \
24       False       True  2016      1 2016-01-31           alkalis
25        True      False  2016      1 2016-01-31           alkalis
26       False       True  2016      2 2016-02-29           alkalis
27        True      False  2016      2 2016-02-29           alkalis
28       False       True  2016      3 2016-03-31           alkalis
..         ...        ...   ...    ...        ...               ...
211       True      False  2023     10 2023-10-31           alkalis
212      False       True  2023     11 2023-11-30           alkalis
213       True      False  2023     11 2023-11-30           alkalis
214      False       True  2023     12 2023-12-20           alkalis
215       True      False  2023     12 2023-12-31           alkalis

     Average_price  PNGASEUUSDM_1  Electricity_1  PNGASEUUSDM_2  ...  \
24        0.409500       5.810000          48.38       5.870000  ...
25        0.178381       5.810000          48.38       5.870000  ...
26        0.382000       5.090000          41.42       5.810000  ...
27        0.172634       5.090000          41.42       5.810000  ...
28        0.385000       4.790000          38.14       5.090000  ...
..             ...            ...            ...            ...  ...
211       0.334423      11.427930          89.17      10.717421  ...
212       0.591923      13.388843         101.92      11.427930  ...
213       0.330826      13.388843         101.92      11.427930  ...
214       0.575871      13.714316         115.07      13.388843  ...
215       0.334498      13.714316         115.07      13.388843  ...

         AR_3      AR_4      AR_5      AR_6      AR_7      AR_8      AR_9  \
24   0.463000  0.468750  0.460000  0.466667  0.441667  0.446667  0.446667
25   0.179496  0.180640  0.182136  0.180389  0.183176  0.184364  0.171045
26   0.455333  0.463000  0.468750  0.460000  0.466667  0.441667  0.446667
27   0.178768  0.179496  0.180640  0.182136  0.180389  0.183176  0.184364
28   0.408000  0.455333  0.463000  0.468750  0.460000  0.466667  0.441667
..        ...       ...       ...       ...       ...       ...       ...
211  0.353267  0.357807  0.380117  0.536686  0.627905  0.652717  0.817147
212  0.754010  0.873935  0.903387  0.998419  1.322798  1.478300  1.648967
213  0.353902  0.353267  0.357807  0.380117  0.536686  0.627905  0.652717
214  0.713726  0.754010  0.873935  0.903387  0.998419  1.322798  1.478300
215  0.329119  0.353902  0.353267  0.357807  0.380117  0.536686  0.627905

        AR_10     AR_11     AR_12
24   0.443750  0.446667  0.446667
25   0.169300  0.169500  0.168273
26   0.446667  0.443750  0.446667
27   0.171045  0.169300  0.169500
28   0.446667  0.446667  0.443750
..        ...       ...       ...
211  0.954066  1.127491  1.058680
212  1.664912  1.807359  1.810897
213  0.817147  0.954066  1.127491
214  1.648967  1.664912  1.807359
215  0.652717  0.817147  0.954066

[192 rows x 43 columns]

In [ ]:
df_0001 = feature_df[feature_df['RM02/0001'] == 1]
print(df_0001.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 25 to 215
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM02/0001          96 non-null     bool
 1   RM02/0002          96 non-null     bool
 2   Year               96 non-null     int64
 3   Month              96 non-null     int64
 4   Time               96 non-null     datetime64[ns]
 5   Group Description  96 non-null     object
 6   Average_price      96 non-null     float64
 7   PNGASEUUSDM_1      96 non-null     float64
 8   Electricity_1      96 non-null     float64
 9   PNGASEUUSDM_2      96 non-null     float64
 10  Electricity_2      96 non-null     float64
 11  PNGASEUUSDM_3      96 non-null     float64
 12  Electricity_3      96 non-null     float64
 13  PNGASEUUSDM_4      96 non-null     float64
 14  Electricity_4      96 non-null     float64
 15  PNGASEUUSDM_5      96 non-null     float64
 16  Electricity_5      96 non-null     float64
 17  PNGASEUUSDM_6      96 non-null     float64
 18  Electricity_6      96 non-null     float64
 19  PNGASEUUSDM_7      96 non-null     float64
 20  Electricity_7      96 non-null     float64
 21  PNGASEUUSDM_8      96 non-null     float64
 22  Electricity_8      96 non-null     float64
 23  PNGASEUUSDM_9      96 non-null     float64
 24  Electricity_9      96 non-null     float64
 25  PNGASEUUSDM_10     96 non-null     float64
 26  Electricity_10     96 non-null     float64
 27  PNGASEUUSDM_11     96 non-null     float64
 28  Electricity_11     96 non-null     float64
 29  PNGASEUUSDM_12     96 non-null     float64
 30  Electricity_12     96 non-null     float64
 31  AR_1               96 non-null     float64
 32  AR_2               96 non-null     float64
 33  AR_3               96 non-null     float64
 34  AR_4               96 non-null     float64
 35  AR_5               96 non-null     float64
 36  AR_6               96 non-null     float64
 37  AR_7               96 non-null     float64
 38  AR_8               96 non-null     float64
 39  AR_9               96 non-null     float64
 40  AR_10              96 non-null     float64
 41  AR_11              96 non-null     float64
 42  AR_12              96 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 31.7+ KB
None

In [ ]:
df_0002 = feature_df[feature_df['RM02/0002'] == 1]
print(df_0002.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 24 to 214
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM02/0001          96 non-null     bool
 1   RM02/0002          96 non-null     bool
 2   Year               96 non-null     int64
 3   Month              96 non-null     int64
 4   Time               96 non-null     datetime64[ns]
 5   Group Description  96 non-null     object
 6   Average_price      96 non-null     float64
 7   PNGASEUUSDM_1      96 non-null     float64
 8   Electricity_1      96 non-null     float64
 9   PNGASEUUSDM_2      96 non-null     float64
 10  Electricity_2      96 non-null     float64
 11  PNGASEUUSDM_3      96 non-null     float64
 12  Electricity_3      96 non-null     float64
 13  PNGASEUUSDM_4      96 non-null     float64
 14  Electricity_4      96 non-null     float64
 15  PNGASEUUSDM_5      96 non-null     float64
 16  Electricity_5      96 non-null     float64
 17  PNGASEUUSDM_6      96 non-null     float64
 18  Electricity_6      96 non-null     float64
 19  PNGASEUUSDM_7      96 non-null     float64
 20  Electricity_7      96 non-null     float64
 21  PNGASEUUSDM_8      96 non-null     float64
 22  Electricity_8      96 non-null     float64
 23  PNGASEUUSDM_9      96 non-null     float64
 24  Electricity_9      96 non-null     float64
 25  PNGASEUUSDM_10     96 non-null     float64
 26  Electricity_10     96 non-null     float64
 27  PNGASEUUSDM_11     96 non-null     float64
 28  Electricity_11     96 non-null     float64
 29  PNGASEUUSDM_12     96 non-null     float64
 30  Electricity_12     96 non-null     float64
 31  AR_1               96 non-null     float64
 32  AR_2               96 non-null     float64
 33  AR_3               96 non-null     float64
 34  AR_4               96 non-null     float64
 35  AR_5               96 non-null     float64
 36  AR_6               96 non-null     float64
 37  AR_7               96 non-null     float64
 38  AR_8               96 non-null     float64
 39  AR_9               96 non-null     float64
 40  AR_10              96 non-null     float64
 41  AR_11              96 non-null     float64
 42  AR_12              96 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 31.7+ KB
None

## 0001

In [ ]:
feature_df = df_0001

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 25 to 215
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   Electricity_1      96 non-null     float64
 7   PNGASEUUSDM_2      96 non-null     float64
 8   Electricity_2      96 non-null     float64
 9   PNGASEUUSDM_3      96 non-null     float64
 10  Electricity_3      96 non-null     float64
 11  PNGASEUUSDM_4      96 non-null     float64
 12  Electricity_4      96 non-null     float64
 13  PNGASEUUSDM_5      96 non-null     float64
 14  Electricity_5      96 non-null     float64
 15  PNGASEUUSDM_6      96 non-null     float64
 16  Electricity_6      96 non-null     float64
 17  PNGASEUUSDM_7      96 non-null     float64
 18  Electricity_7      96 non-null     float64
 19  PNGASEUUSDM_8      96 non-null     float64
 20  Electricity_8      96 non-null     float64
 21  PNGASEUUSDM_9      96 non-null     float64
 22  Electricity_9      96 non-null     float64
 23  PNGASEUUSDM_10     96 non-null     float64
 24  Electricity_10     96 non-null     float64
 25  PNGASEUUSDM_11     96 non-null     float64
 26  Electricity_11     96 non-null     float64
 27  PNGASEUUSDM_12     96 non-null     float64
 28  Electricity_12     96 non-null     float64
 29  AR_1               96 non-null     float64
 30  AR_2               96 non-null     float64
 31  AR_3               96 non-null     float64
 32  AR_4               96 non-null     float64
 33  AR_5               96 non-null     float64
 34  AR_6               96 non-null     float64
 35  AR_7               96 non-null     float64
 36  AR_8               96 non-null     float64
 37  AR_9               96 non-null     float64
 38  AR_10              96 non-null     float64
 39  AR_11              96 non-null     float64
 40  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 31.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 2.6
MAPE from 2019-07-01 to 2020-01-01: 3.8
MAPE from 2020-01-01 to 2020-07-01: 6.1
MAPE from 2020-07-01 to 2021-01-01: 7.8
MAPE from 2021-01-01 to 2021-07-01: 6.5
MAPE from 2021-07-01 to 2022-01-01: 7.7
MAPE from 2022-01-01 to 2022-07-01: 10.0
MAPE from 2022-07-01 to 2023-01-01: 12.8
MAPE from 2023-01-01 to 2023-07-01: 39.8
MAPE from 2023-07-01 to 2024-01-01: 3.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.0

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.1
MAPE from 2019-07-01 to 2020-01-01: 10.6
MAPE from 2020-01-01 to 2020-07-01: 12.7
MAPE from 2020-07-01 to 2021-01-01: 15.7
MAPE from 2021-01-01 to 2021-07-01: 18.2
MAPE from 2021-07-01 to 2022-01-01: 12.8
MAPE from 2022-01-01 to 2022-07-01: 17.9
MAPE from 2022-07-01 to 2023-01-01: 26.2
MAPE from 2023-01-01 to 2023-07-01: 59.8
MAPE from 2023-07-01 to 2024-01-01: 5.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 18.4

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.6)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 7.5
MAPE from 2019-07-01 to 2020-01-01: 11.9
MAPE from 2020-01-01 to 2020-07-01: 17.4
MAPE from 2020-07-01 to 2021-01-01: 24.2
MAPE from 2021-01-01 to 2021-07-01: 36.2
MAPE from 2021-07-01 to 2022-01-01: 14.3
MAPE from 2022-01-01 to 2022-07-01: 43.3
MAPE from 2022-07-01 to 2023-01-01: 55.3
MAPE from 2023-01-01 to 2023-07-01: 27.9
MAPE from 2023-07-01 to 2024-01-01: 18.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 25.6

## 0002

In [ ]:
feature_df = df_0002

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 24 to 214
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   Electricity_1      96 non-null     float64
 7   PNGASEUUSDM_2      96 non-null     float64
 8   Electricity_2      96 non-null     float64
 9   PNGASEUUSDM_3      96 non-null     float64
 10  Electricity_3      96 non-null     float64
 11  PNGASEUUSDM_4      96 non-null     float64
 12  Electricity_4      96 non-null     float64
 13  PNGASEUUSDM_5      96 non-null     float64
 14  Electricity_5      96 non-null     float64
 15  PNGASEUUSDM_6      96 non-null     float64
 16  Electricity_6      96 non-null     float64
 17  PNGASEUUSDM_7      96 non-null     float64
 18  Electricity_7      96 non-null     float64
 19  PNGASEUUSDM_8      96 non-null     float64
 20  Electricity_8      96 non-null     float64
 21  PNGASEUUSDM_9      96 non-null     float64
 22  Electricity_9      96 non-null     float64
 23  PNGASEUUSDM_10     96 non-null     float64
 24  Electricity_10     96 non-null     float64
 25  PNGASEUUSDM_11     96 non-null     float64
 26  Electricity_11     96 non-null     float64
 27  PNGASEUUSDM_12     96 non-null     float64
 28  Electricity_12     96 non-null     float64
 29  AR_1               96 non-null     float64
 30  AR_2               96 non-null     float64
 31  AR_3               96 non-null     float64
 32  AR_4               96 non-null     float64
 33  AR_5               96 non-null     float64
 34  AR_6               96 non-null     float64
 35  AR_7               96 non-null     float64
 36  AR_8               96 non-null     float64
 37  AR_9               96 non-null     float64
 38  AR_10              96 non-null     float64
 39  AR_11              96 non-null     float64
 40  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 31.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 4.5
MAPE from 2019-07-01 to 2020-01-01: 7.8
MAPE from 2020-01-01 to 2020-07-01: 10.9
MAPE from 2020-07-01 to 2021-01-01: 3.4
MAPE from 2021-01-01 to 2021-07-01: 4.0
MAPE from 2021-07-01 to 2022-01-01: 12.1
MAPE from 2022-01-01 to 2022-07-01: 17.5
MAPE from 2022-07-01 to 2023-01-01: 10.7
MAPE from 2023-01-01 to 2023-07-01: 16.0
MAPE from 2023-07-01 to 2024-01-01: 6.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 9.3

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 7.0
MAPE from 2019-07-01 to 2020-01-01: 8.7
MAPE from 2020-01-01 to 2020-07-01: 13.4
MAPE from 2020-07-01 to 2021-01-01: 4.4
MAPE from 2021-01-01 to 2021-07-01: 4.7
MAPE from 2021-07-01 to 2022-01-01: 14.9
MAPE from 2022-01-01 to 2022-07-01: 40.7
MAPE from 2022-07-01 to 2023-01-01: 18.5
MAPE from 2023-01-01 to 2023-07-01: 23.1
MAPE from 2023-07-01 to 2024-01-01: 6.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 14.2

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.5)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.9
MAPE from 2019-07-01 to 2020-01-01: 8.3
MAPE from 2020-01-01 to 2020-07-01: 15.0
MAPE from 2020-07-01 to 2021-01-01: 7.0
MAPE from 2021-01-01 to 2021-07-01: 3.9
MAPE from 2021-07-01 to 2022-01-01: 15.5
MAPE from 2022-01-01 to 2022-07-01: 58.3
MAPE from 2022-07-01 to 2023-01-01: 54.5
MAPE from 2023-01-01 to 2023-07-01: 14.6
MAPE from 2023-07-01 to 2024-01-01: 7.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 19.6

# Bleaching Agent

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/bleaching agent_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM04/0001  RM04/0006  Year  Month       Time Group Description  \
12       False       True  2016      1 2016-01-31   bleaching agent
13       False       True  2016      2 2016-02-29   bleaching agent
14       False       True  2016      3 2016-03-31   bleaching agent
15       False       True  2016      4 2016-04-30   bleaching agent
16       False       True  2016      5 2016-05-31   bleaching agent
..         ...        ...   ...    ...        ...               ...
213       True      False  2023      8 2023-08-31   bleaching agent
214       True      False  2023      9 2023-09-30   bleaching agent
215       True      False  2023     10 2023-10-31   bleaching agent
216       True      False  2023     11 2023-11-30   bleaching agent
217       True      False  2023     12 2023-12-31   bleaching agent

     Average_price  PNGASEUUSDM_1  Electricity_1  PNGASEUUSDM_2  ...  \
12        0.130089       5.810000          48.38       5.870000  ...
13        0.110000       5.090000          41.42       5.810000  ...
14        0.122500       4.790000          38.14       5.090000  ...
15        0.123833       4.090000          28.95       4.790000  ...
16        0.127286       4.020000          25.25       4.090000  ...
..             ...            ...            ...            ...  ...
213       0.387688       9.611719          87.58      10.293732  ...
214       0.372093      10.717421          96.46       9.611719  ...
215       0.386432      11.427930          89.17      10.717421  ...
216       0.377390      13.388843         101.92      11.427930  ...
217       0.388208      13.714316         115.07      13.388843  ...

         AR_3      AR_4      AR_5      AR_6      AR_7      AR_8      AR_9  \
12   0.132500  0.146000  0.122857  0.110000  0.128000  0.132500  0.132500
13   0.122857  0.132500  0.146000  0.122857  0.110000  0.128000  0.132500
14   0.110000  0.122857  0.132500  0.146000  0.122857  0.110000  0.128000
15   0.130089  0.110000  0.122857  0.132500  0.146000  0.122857  0.110000
16   0.110000  0.130089  0.110000  0.122857  0.132500  0.146000  0.122857
..        ...       ...       ...       ...       ...       ...       ...
213  0.423318  0.425217  0.472389  0.503297  0.565345  0.583380  0.503474
214  0.421539  0.423318  0.425217  0.472389  0.503297  0.565345  0.583380
215  0.394300  0.421539  0.423318  0.425217  0.472389  0.503297  0.565345
216  0.387688  0.394300  0.421539  0.423318  0.425217  0.472389  0.503297
217  0.372093  0.387688  0.394300  0.421539  0.423318  0.425217  0.472389

        AR_10     AR_11     AR_12
12   0.132500  0.128000  0.132500
13   0.132500  0.132500  0.128000
14   0.132500  0.132500  0.132500
15   0.128000  0.132500  0.132500
16   0.110000  0.128000  0.132500
..        ...       ...       ...
213  0.725724  0.755028  0.607936
214  0.503474  0.725724  0.755028
215  0.583380  0.503474  0.725724
216  0.565345  0.583380  0.503474
217  0.503297  0.565345  0.583380

[189 rows x 43 columns]

In [ ]:
df_0001 = feature_df[feature_df['RM04/0001'] == 1]
print(df_0001.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 123 to 217
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM04/0001          93 non-null     bool
 1   RM04/0006          93 non-null     bool
 2   Year               93 non-null     int64
 3   Month              93 non-null     int64
 4   Time               93 non-null     datetime64[ns]
 5   Group Description  93 non-null     object
 6   Average_price      93 non-null     float64
 7   PNGASEUUSDM_1      93 non-null     float64
 8   Electricity_1      93 non-null     float64
 9   PNGASEUUSDM_2      93 non-null     float64
 10  Electricity_2      93 non-null     float64
 11  PNGASEUUSDM_3      93 non-null     float64
 12  Electricity_3      93 non-null     float64
 13  PNGASEUUSDM_4      93 non-null     float64
 14  Electricity_4      93 non-null     float64
 15  PNGASEUUSDM_5      93 non-null     float64
 16  Electricity_5      93 non-null     float64
 17  PNGASEUUSDM_6      93 non-null     float64
 18  Electricity_6      93 non-null     float64
 19  PNGASEUUSDM_7      93 non-null     float64
 20  Electricity_7      93 non-null     float64
 21  PNGASEUUSDM_8      93 non-null     float64
 22  Electricity_8      93 non-null     float64
 23  PNGASEUUSDM_9      93 non-null     float64
 24  Electricity_9      93 non-null     float64
 25  PNGASEUUSDM_10     93 non-null     float64
 26  Electricity_10     93 non-null     float64
 27  PNGASEUUSDM_11     93 non-null     float64
 28  Electricity_11     93 non-null     float64
 29  PNGASEUUSDM_12     93 non-null     float64
 30  Electricity_12     93 non-null     float64
 31  AR_1               93 non-null     float64
 32  AR_2               93 non-null     float64
 33  AR_3               93 non-null     float64
 34  AR_4               93 non-null     float64
 35  AR_5               93 non-null     float64
 36  AR_6               93 non-null     float64
 37  AR_7               93 non-null     float64
 38  AR_8               93 non-null     float64
 39  AR_9               93 non-null     float64
 40  AR_10              93 non-null     float64
 41  AR_11              93 non-null     float64
 42  AR_12              93 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 30.7+ KB
None

In [ ]:
df_0006 = feature_df[feature_df['RM04/0006'] == 1]
print(df_0006.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 12 to 107
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM04/0001          96 non-null     bool
 1   RM04/0006          96 non-null     bool
 2   Year               96 non-null     int64
 3   Month              96 non-null     int64
 4   Time               96 non-null     datetime64[ns]
 5   Group Description  96 non-null     object
 6   Average_price      96 non-null     float64
 7   PNGASEUUSDM_1      96 non-null     float64
 8   Electricity_1      96 non-null     float64
 9   PNGASEUUSDM_2      96 non-null     float64
 10  Electricity_2      96 non-null     float64
 11  PNGASEUUSDM_3      96 non-null     float64
 12  Electricity_3      96 non-null     float64
 13  PNGASEUUSDM_4      96 non-null     float64
 14  Electricity_4      96 non-null     float64
 15  PNGASEUUSDM_5      96 non-null     float64
 16  Electricity_5      96 non-null     float64
 17  PNGASEUUSDM_6      96 non-null     float64
 18  Electricity_6      96 non-null     float64
 19  PNGASEUUSDM_7      96 non-null     float64
 20  Electricity_7      96 non-null     float64
 21  PNGASEUUSDM_8      96 non-null     float64
 22  Electricity_8      96 non-null     float64
 23  PNGASEUUSDM_9      96 non-null     float64
 24  Electricity_9      96 non-null     float64
 25  PNGASEUUSDM_10     96 non-null     float64
 26  Electricity_10     96 non-null     float64
 27  PNGASEUUSDM_11     96 non-null     float64
 28  Electricity_11     96 non-null     float64
 29  PNGASEUUSDM_12     96 non-null     float64
 30  Electricity_12     96 non-null     float64
 31  AR_1               96 non-null     float64
 32  AR_2               96 non-null     float64
 33  AR_3               96 non-null     float64
 34  AR_4               96 non-null     float64
 35  AR_5               96 non-null     float64
 36  AR_6               96 non-null     float64
 37  AR_7               96 non-null     float64
 38  AR_8               96 non-null     float64
 39  AR_9               96 non-null     float64
 40  AR_10              96 non-null     float64
 41  AR_11              96 non-null     float64
 42  AR_12              96 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 31.7+ KB
None

## 0001

In [ ]:
feature_df = df_0001

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 123 to 217
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               93 non-null     int64
 1   Month              93 non-null     int64
 2   Time               93 non-null     datetime64[ns]
 3   Group Description  93 non-null     object
 4   Average_price      93 non-null     float64
 5   PNGASEUUSDM_1      93 non-null     float64
 6   Electricity_1      93 non-null     float64
 7   PNGASEUUSDM_2      93 non-null     float64
 8   Electricity_2      93 non-null     float64
 9   PNGASEUUSDM_3      93 non-null     float64
 10  Electricity_3      93 non-null     float64
 11  PNGASEUUSDM_4      93 non-null     float64
 12  Electricity_4      93 non-null     float64
 13  PNGASEUUSDM_5      93 non-null     float64
 14  Electricity_5      93 non-null     float64
 15  PNGASEUUSDM_6      93 non-null     float64
 16  Electricity_6      93 non-null     float64
 17  PNGASEUUSDM_7      93 non-null     float64
 18  Electricity_7      93 non-null     float64
 19  PNGASEUUSDM_8      93 non-null     float64
 20  Electricity_8      93 non-null     float64
 21  PNGASEUUSDM_9      93 non-null     float64
 22  Electricity_9      93 non-null     float64
 23  PNGASEUUSDM_10     93 non-null     float64
 24  Electricity_10     93 non-null     float64
 25  PNGASEUUSDM_11     93 non-null     float64
 26  Electricity_11     93 non-null     float64
 27  PNGASEUUSDM_12     93 non-null     float64
 28  Electricity_12     93 non-null     float64
 29  AR_1               93 non-null     float64
 30  AR_2               93 non-null     float64
 31  AR_3               93 non-null     float64
 32  AR_4               93 non-null     float64
 33  AR_5               93 non-null     float64
 34  AR_6               93 non-null     float64
 35  AR_7               93 non-null     float64
 36  AR_8               93 non-null     float64
 37  AR_9               93 non-null     float64
 38  AR_10              93 non-null     float64
 39  AR_11              93 non-null     float64
 40  AR_12              93 non-null     float64
dtypes: datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 30.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.7
MAPE from 2019-07-01 to 2020-01-01: 7.2
MAPE from 2020-01-01 to 2020-07-01: 7.1
MAPE from 2020-07-01 to 2021-01-01: 2.2
MAPE from 2021-01-01 to 2021-07-01: 6.0
MAPE from 2021-07-01 to 2022-01-01: 8.5
MAPE from 2022-01-01 to 2022-07-01: 22.7
MAPE from 2022-07-01 to 2023-01-01: 18.5
MAPE from 2023-01-01 to 2023-07-01: 15.8
MAPE from 2023-07-01 to 2024-01-01: 8.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.3

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.5)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.7
MAPE from 2019-07-01 to 2020-01-01: 7.2
MAPE from 2020-01-01 to 2020-07-01: 10.1
MAPE from 2020-07-01 to 2021-01-01: 6.0
MAPE from 2021-01-01 to 2021-07-01: 8.5
MAPE from 2021-07-01 to 2022-01-01: 11.7
MAPE from 2022-01-01 to 2022-07-01: 34.5
MAPE from 2022-07-01 to 2023-01-01: 28.1
MAPE from 2023-01-01 to 2023-07-01: 17.4
MAPE from 2023-07-01 to 2024-01-01: 16.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 14.6

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.7
MAPE from 2019-07-01 to 2020-01-01: 7.2
MAPE from 2020-01-01 to 2020-07-01: 10.1
MAPE from 2020-07-01 to 2021-01-01: 3.1
MAPE from 2021-01-01 to 2021-07-01: 7.0
MAPE from 2021-07-01 to 2022-01-01: 10.0
MAPE from 2022-01-01 to 2022-07-01: 32.2
MAPE from 2022-07-01 to 2023-01-01: 26.8
MAPE from 2023-01-01 to 2023-07-01: 40.0
MAPE from 2023-07-01 to 2024-01-01: 10.7

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 15.4

## 0006

In [ ]:
feature_df = df_0006

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 12 to 107
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   Electricity_1      96 non-null     float64
 7   PNGASEUUSDM_2      96 non-null     float64
 8   Electricity_2      96 non-null     float64
 9   PNGASEUUSDM_3      96 non-null     float64
 10  Electricity_3      96 non-null     float64
 11  PNGASEUUSDM_4      96 non-null     float64
 12  Electricity_4      96 non-null     float64
 13  PNGASEUUSDM_5      96 non-null     float64
 14  Electricity_5      96 non-null     float64
 15  PNGASEUUSDM_6      96 non-null     float64
 16  Electricity_6      96 non-null     float64
 17  PNGASEUUSDM_7      96 non-null     float64
 18  Electricity_7      96 non-null     float64
 19  PNGASEUUSDM_8      96 non-null     float64
 20  Electricity_8      96 non-null     float64
 21  PNGASEUUSDM_9      96 non-null     float64
 22  Electricity_9      96 non-null     float64
 23  PNGASEUUSDM_10     96 non-null     float64
 24  Electricity_10     96 non-null     float64
 25  PNGASEUUSDM_11     96 non-null     float64
 26  Electricity_11     96 non-null     float64
 27  PNGASEUUSDM_12     96 non-null     float64
 28  Electricity_12     96 non-null     float64
 29  AR_1               96 non-null     float64
 30  AR_2               96 non-null     float64
 31  AR_3               96 non-null     float64
 32  AR_4               96 non-null     float64
 33  AR_5               96 non-null     float64
 34  AR_6               96 non-null     float64
 35  AR_7               96 non-null     float64
 36  AR_8               96 non-null     float64
 37  AR_9               96 non-null     float64
 38  AR_10              96 non-null     float64
 39  AR_11              96 non-null     float64
 40  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(37), int64(2), object(1)
memory usage: 31.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.7
MAPE from 2019-07-01 to 2020-01-01: 6.1
MAPE from 2020-01-01 to 2020-07-01: 22.7
MAPE from 2020-07-01 to 2021-01-01: 10.9
MAPE from 2021-01-01 to 2021-07-01: 2.7
MAPE from 2021-07-01 to 2022-01-01: 7.7
MAPE from 2022-01-01 to 2022-07-01: 18.0
MAPE from 2022-07-01 to 2023-01-01: 12.9
MAPE from 2023-01-01 to 2023-07-01: 6.4
MAPE from 2023-07-01 to 2024-01-01: 8.9

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.8

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.7
MAPE from 2019-07-01 to 2020-01-01: 6.2
MAPE from 2020-01-01 to 2020-07-01: 23.4
MAPE from 2020-07-01 to 2021-01-01: 11.8
MAPE from 2021-01-01 to 2021-07-01: 5.3
MAPE from 2021-07-01 to 2022-01-01: 7.5
MAPE from 2022-01-01 to 2022-07-01: 20.2
MAPE from 2022-07-01 to 2023-01-01: 15.0
MAPE from 2023-01-01 to 2023-07-01: 34.7
MAPE from 2023-07-01 to 2024-01-01: 10.7

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 14.7

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.7
MAPE from 2019-07-01 to 2020-01-01: 9.7
MAPE from 2020-01-01 to 2020-07-01: 25.8
MAPE from 2020-07-01 to 2021-01-01: 16.0
MAPE from 2021-01-01 to 2021-07-01: 4.6
MAPE from 2021-07-01 to 2022-01-01: 9.4
MAPE from 2022-01-01 to 2022-07-01: 25.6
MAPE from 2022-07-01 to 2023-01-01: 28.5
MAPE from 2023-01-01 to 2023-07-01: 30.7
MAPE from 2023-07-01 to 2024-01-01: 6.4

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 16.8

# Acid

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/acid_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM01/0001  RM01/0004  RM01/0006  RM01/0007  Year  Month       Time  \
2        False       True      False      False  2016      1 2016-01-31
3         True      False      False      False  2016      1 2016-01-31
4        False       True      False      False  2016      2 2016-02-29
5         True      False      False      False  2016      2 2016-02-29
6        False       True      False      False  2016      3 2016-03-31
..         ...        ...        ...        ...   ...    ...        ...
400      False      False       True      False  2023      8 2023-08-31
401      False      False       True      False  2023      9 2023-09-28
402      False      False       True      False  2023     10 2023-10-30
403      False      False       True      False  2023     11 2023-11-30
404      False      False       True      False  2023     12 2023-12-22

    Group Description  Average_price  PNGASEUUSDM_1  ...      AR_3      AR_4  \
2                acid       0.404800       5.810000  ...  0.359400  0.475714
3                acid       0.528015       5.810000  ...  0.549394  0.558730
4                acid       0.404800       5.090000  ...  0.358000  0.359400
5                acid       0.532218       5.090000  ...  0.550917  0.549394
6                acid       0.356000       4.790000  ...  0.358000  0.358000
..                ...            ...            ...  ...       ...       ...
400              acid       1.258544       9.611719  ...  1.669344  1.874301
401              acid       1.432129      10.717421  ...  1.641858  1.669344
402              acid       1.327096      11.427930  ...  1.456344  1.641858
403              acid       1.080000      13.388843  ...  1.258544  1.456344
404              acid       1.447941      13.714316  ...  1.432129  1.258544

         AR_5      AR_6      AR_7      AR_8      AR_9     AR_10     AR_11  \
2    0.426000  0.462500  0.451000  0.486000  0.446333  0.477200  0.445000
3    0.559098  0.558889  0.546843  0.550665  0.546185  0.556000  0.558667
4    0.475714  0.426000  0.462500  0.451000  0.486000  0.446333  0.477200
5    0.558730  0.559098  0.558889  0.546843  0.550665  0.546185  0.556000
6    0.359400  0.475714  0.426000  0.462500  0.451000  0.486000  0.446333
..        ...       ...       ...       ...       ...       ...       ...
400  2.073844  2.767510  2.161415  2.386413  2.550000  2.682106  2.588566
401  1.874301  2.073844  2.767510  2.161415  2.386413  2.550000  2.682106
402  1.669344  1.874301  2.073844  2.767510  2.161415  2.386413  2.550000
403  1.641858  1.669344  1.874301  2.073844  2.767510  2.161415  2.386413
404  1.456344  1.641858  1.669344  1.874301  2.073844  2.767510  2.161415

        AR_12
2    0.475333
3    0.560278
4    0.445000
5    0.558667
6    0.477200
..        ...
400  2.544955
401  2.588566
402  2.682106
403  2.550000
404  2.386413

[362 rows x 69 columns]

In [ ]:
df_0001 = feature_df[feature_df['RM01/0001'] == 1]
print(df_0001.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 3 to 193
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM01/0001          96 non-null     bool
 1   RM01/0004          96 non-null     bool
 2   RM01/0006          96 non-null     bool
 3   RM01/0007          96 non-null     bool
 4   Year               96 non-null     int64
 5   Month              96 non-null     int64
 6   Time               96 non-null     datetime64[ns]
 7   Group Description  96 non-null     object
 8   Average_price      96 non-null     float64
 9   PNGASEUUSDM_1      96 non-null     float64
 10  PWHEAMTUSDM_1      96 non-null     float64
 11  WPU0652013A_1      96 non-null     float64
 12  Electricity_1      96 non-null     float64
 13  PNGASEUUSDM_2      96 non-null     float64
 14  PWHEAMTUSDM_2      96 non-null     float64
 15  WPU0652013A_2      96 non-null     float64
 16  Electricity_2      96 non-null     float64
 17  PNGASEUUSDM_3      96 non-null     float64
 18  PWHEAMTUSDM_3      96 non-null     float64
 19  WPU0652013A_3      96 non-null     float64
 20  Electricity_3      96 non-null     float64
 21  PNGASEUUSDM_4      96 non-null     float64
 22  PWHEAMTUSDM_4      96 non-null     float64
 23  WPU0652013A_4      96 non-null     float64
 24  Electricity_4      96 non-null     float64
 25  PNGASEUUSDM_5      96 non-null     float64
 26  PWHEAMTUSDM_5      96 non-null     float64
 27  WPU0652013A_5      96 non-null     float64
 28  Electricity_5      96 non-null     float64
 29  PNGASEUUSDM_6      96 non-null     float64
 30  PWHEAMTUSDM_6      96 non-null     float64
 31  WPU0652013A_6      96 non-null     float64
 32  Electricity_6      96 non-null     float64
 33  PNGASEUUSDM_7      96 non-null     float64
 34  PWHEAMTUSDM_7      96 non-null     float64
 35  WPU0652013A_7      96 non-null     float64
 36  Electricity_7      96 non-null     float64
 37  PNGASEUUSDM_8      96 non-null     float64
 38  PWHEAMTUSDM_8      96 non-null     float64
 39  WPU0652013A_8      96 non-null     float64
 40  Electricity_8      96 non-null     float64
 41  PNGASEUUSDM_9      96 non-null     float64
 42  PWHEAMTUSDM_9      96 non-null     float64
 43  WPU0652013A_9      96 non-null     float64
 44  Electricity_9      96 non-null     float64
 45  PNGASEUUSDM_10     96 non-null     float64
 46  PWHEAMTUSDM_10     96 non-null     float64
 47  WPU0652013A_10     96 non-null     float64
 48  Electricity_10     96 non-null     float64
 49  PNGASEUUSDM_11     96 non-null     float64
 50  PWHEAMTUSDM_11     96 non-null     float64
 51  WPU0652013A_11     96 non-null     float64
 52  Electricity_11     96 non-null     float64
 53  PNGASEUUSDM_12     96 non-null     float64
 54  PWHEAMTUSDM_12     96 non-null     float64
 55  WPU0652013A_12     96 non-null     float64
 56  Electricity_12     96 non-null     float64
 57  AR_1               96 non-null     float64
 58  AR_2               96 non-null     float64
 59  AR_3               96 non-null     float64
 60  AR_4               96 non-null     float64
 61  AR_5               96 non-null     float64
 62  AR_6               96 non-null     float64
 63  AR_7               96 non-null     float64
 64  AR_8               96 non-null     float64
 65  AR_9               96 non-null     float64
 66  AR_10              96 non-null     float64
 67  AR_11              96 non-null     float64
 68  AR_12              96 non-null     float64
dtypes: bool(4), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.9+ KB
None

In [ ]:
df_0004 = feature_df[feature_df['RM01/0004'] == 1]
print(df_0004.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 2 to 192
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM01/0001          96 non-null     bool
 1   RM01/0004          96 non-null     bool
 2   RM01/0006          96 non-null     bool
 3   RM01/0007          96 non-null     bool
 4   Year               96 non-null     int64
 5   Month              96 non-null     int64
 6   Time               96 non-null     datetime64[ns]
 7   Group Description  96 non-null     object
 8   Average_price      96 non-null     float64
 9   PNGASEUUSDM_1      96 non-null     float64
 10  PWHEAMTUSDM_1      96 non-null     float64
 11  WPU0652013A_1      96 non-null     float64
 12  Electricity_1      96 non-null     float64
 13  PNGASEUUSDM_2      96 non-null     float64
 14  PWHEAMTUSDM_2      96 non-null     float64
 15  WPU0652013A_2      96 non-null     float64
 16  Electricity_2      96 non-null     float64
 17  PNGASEUUSDM_3      96 non-null     float64
 18  PWHEAMTUSDM_3      96 non-null     float64
 19  WPU0652013A_3      96 non-null     float64
 20  Electricity_3      96 non-null     float64
 21  PNGASEUUSDM_4      96 non-null     float64
 22  PWHEAMTUSDM_4      96 non-null     float64
 23  WPU0652013A_4      96 non-null     float64
 24  Electricity_4      96 non-null     float64
 25  PNGASEUUSDM_5      96 non-null     float64
 26  PWHEAMTUSDM_5      96 non-null     float64
 27  WPU0652013A_5      96 non-null     float64
 28  Electricity_5      96 non-null     float64
 29  PNGASEUUSDM_6      96 non-null     float64
 30  PWHEAMTUSDM_6      96 non-null     float64
 31  WPU0652013A_6      96 non-null     float64
 32  Electricity_6      96 non-null     float64
 33  PNGASEUUSDM_7      96 non-null     float64
 34  PWHEAMTUSDM_7      96 non-null     float64
 35  WPU0652013A_7      96 non-null     float64
 36  Electricity_7      96 non-null     float64
 37  PNGASEUUSDM_8      96 non-null     float64
 38  PWHEAMTUSDM_8      96 non-null     float64
 39  WPU0652013A_8      96 non-null     float64
 40  Electricity_8      96 non-null     float64
 41  PNGASEUUSDM_9      96 non-null     float64
 42  PWHEAMTUSDM_9      96 non-null     float64
 43  WPU0652013A_9      96 non-null     float64
 44  Electricity_9      96 non-null     float64
 45  PNGASEUUSDM_10     96 non-null     float64
 46  PWHEAMTUSDM_10     96 non-null     float64
 47  WPU0652013A_10     96 non-null     float64
 48  Electricity_10     96 non-null     float64
 49  PNGASEUUSDM_11     96 non-null     float64
 50  PWHEAMTUSDM_11     96 non-null     float64
 51  WPU0652013A_11     96 non-null     float64
 52  Electricity_11     96 non-null     float64
 53  PNGASEUUSDM_12     96 non-null     float64
 54  PWHEAMTUSDM_12     96 non-null     float64
 55  WPU0652013A_12     96 non-null     float64
 56  Electricity_12     96 non-null     float64
 57  AR_1               96 non-null     float64
 58  AR_2               96 non-null     float64
 59  AR_3               96 non-null     float64
 60  AR_4               96 non-null     float64
 61  AR_5               96 non-null     float64
 62  AR_6               96 non-null     float64
 63  AR_7               96 non-null     float64
 64  AR_8               96 non-null     float64
 65  AR_9               96 non-null     float64
 66  AR_10              96 non-null     float64
 67  AR_11              96 non-null     float64
 68  AR_12              96 non-null     float64
dtypes: bool(4), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.9+ KB
None

In [ ]:
df_0006 = feature_df[feature_df['RM01/0006'] == 1]
print(df_0006.info())

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 309 to 404
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM01/0001          95 non-null     bool
 1   RM01/0004          95 non-null     bool
 2   RM01/0006          95 non-null     bool
 3   RM01/0007          95 non-null     bool
 4   Year               95 non-null     int64
 5   Month              95 non-null     int64
 6   Time               95 non-null     datetime64[ns]
 7   Group Description  95 non-null     object
 8   Average_price      95 non-null     float64
 9   PNGASEUUSDM_1      95 non-null     float64
 10  PWHEAMTUSDM_1      95 non-null     float64
 11  WPU0652013A_1      95 non-null     float64
 12  Electricity_1      95 non-null     float64
 13  PNGASEUUSDM_2      95 non-null     float64
 14  PWHEAMTUSDM_2      95 non-null     float64
 15  WPU0652013A_2      95 non-null     float64
 16  Electricity_2      95 non-null     float64
 17  PNGASEUUSDM_3      95 non-null     float64
 18  PWHEAMTUSDM_3      95 non-null     float64
 19  WPU0652013A_3      95 non-null     float64
 20  Electricity_3      95 non-null     float64
 21  PNGASEUUSDM_4      95 non-null     float64
 22  PWHEAMTUSDM_4      95 non-null     float64
 23  WPU0652013A_4      95 non-null     float64
 24  Electricity_4      95 non-null     float64
 25  PNGASEUUSDM_5      95 non-null     float64
 26  PWHEAMTUSDM_5      95 non-null     float64
 27  WPU0652013A_5      95 non-null     float64
 28  Electricity_5      95 non-null     float64
 29  PNGASEUUSDM_6      95 non-null     float64
 30  PWHEAMTUSDM_6      95 non-null     float64
 31  WPU0652013A_6      95 non-null     float64
 32  Electricity_6      95 non-null     float64
 33  PNGASEUUSDM_7      95 non-null     float64
 34  PWHEAMTUSDM_7      95 non-null     float64
 35  WPU0652013A_7      95 non-null     float64
 36  Electricity_7      95 non-null     float64
 37  PNGASEUUSDM_8      95 non-null     float64
 38  PWHEAMTUSDM_8      95 non-null     float64
 39  WPU0652013A_8      95 non-null     float64
 40  Electricity_8      95 non-null     float64
 41  PNGASEUUSDM_9      95 non-null     float64
 42  PWHEAMTUSDM_9      95 non-null     float64
 43  WPU0652013A_9      95 non-null     float64
 44  Electricity_9      95 non-null     float64
 45  PNGASEUUSDM_10     95 non-null     float64
 46  PWHEAMTUSDM_10     95 non-null     float64
 47  WPU0652013A_10     95 non-null     float64
 48  Electricity_10     95 non-null     float64
 49  PNGASEUUSDM_11     95 non-null     float64
 50  PWHEAMTUSDM_11     95 non-null     float64
 51  WPU0652013A_11     95 non-null     float64
 52  Electricity_11     95 non-null     float64
 53  PNGASEUUSDM_12     95 non-null     float64
 54  PWHEAMTUSDM_12     95 non-null     float64
 55  WPU0652013A_12     95 non-null     float64
 56  Electricity_12     95 non-null     float64
 57  AR_1               95 non-null     float64
 58  AR_2               95 non-null     float64
 59  AR_3               95 non-null     float64
 60  AR_4               95 non-null     float64
 61  AR_5               95 non-null     float64
 62  AR_6               95 non-null     float64
 63  AR_7               95 non-null     float64
 64  AR_8               95 non-null     float64
 65  AR_9               95 non-null     float64
 66  AR_10              95 non-null     float64
 67  AR_11              95 non-null     float64
 68  AR_12              95 non-null     float64
dtypes: bool(4), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.4+ KB
None

In [ ]:
df_0007 = feature_df[feature_df['RM01/0007'] == 1]
print(df_0007.info())

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 213 to 307
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM01/0001          75 non-null     bool
 1   RM01/0004          75 non-null     bool
 2   RM01/0006          75 non-null     bool
 3   RM01/0007          75 non-null     bool
 4   Year               75 non-null     int64
 5   Month              75 non-null     int64
 6   Time               75 non-null     datetime64[ns]
 7   Group Description  75 non-null     object
 8   Average_price      75 non-null     float64
 9   PNGASEUUSDM_1      75 non-null     float64
 10  PWHEAMTUSDM_1      75 non-null     float64
 11  WPU0652013A_1      75 non-null     float64
 12  Electricity_1      75 non-null     float64
 13  PNGASEUUSDM_2      75 non-null     float64
 14  PWHEAMTUSDM_2      75 non-null     float64
 15  WPU0652013A_2      75 non-null     float64
 16  Electricity_2      75 non-null     float64
 17  PNGASEUUSDM_3      75 non-null     float64
 18  PWHEAMTUSDM_3      75 non-null     float64
 19  WPU0652013A_3      75 non-null     float64
 20  Electricity_3      75 non-null     float64
 21  PNGASEUUSDM_4      75 non-null     float64
 22  PWHEAMTUSDM_4      75 non-null     float64
 23  WPU0652013A_4      75 non-null     float64
 24  Electricity_4      75 non-null     float64
 25  PNGASEUUSDM_5      75 non-null     float64
 26  PWHEAMTUSDM_5      75 non-null     float64
 27  WPU0652013A_5      75 non-null     float64
 28  Electricity_5      75 non-null     float64
 29  PNGASEUUSDM_6      75 non-null     float64
 30  PWHEAMTUSDM_6      75 non-null     float64
 31  WPU0652013A_6      75 non-null     float64
 32  Electricity_6      75 non-null     float64
 33  PNGASEUUSDM_7      75 non-null     float64
 34  PWHEAMTUSDM_7      75 non-null     float64
 35  WPU0652013A_7      75 non-null     float64
 36  Electricity_7      75 non-null     float64
 37  PNGASEUUSDM_8      75 non-null     float64
 38  PWHEAMTUSDM_8      75 non-null     float64
 39  WPU0652013A_8      75 non-null     float64
 40  Electricity_8      75 non-null     float64
 41  PNGASEUUSDM_9      75 non-null     float64
 42  PWHEAMTUSDM_9      75 non-null     float64
 43  WPU0652013A_9      75 non-null     float64
 44  Electricity_9      75 non-null     float64
 45  PNGASEUUSDM_10     75 non-null     float64
 46  PWHEAMTUSDM_10     75 non-null     float64
 47  WPU0652013A_10     75 non-null     float64
 48  Electricity_10     75 non-null     float64
 49  PNGASEUUSDM_11     75 non-null     float64
 50  PWHEAMTUSDM_11     75 non-null     float64
 51  WPU0652013A_11     75 non-null     float64
 52  Electricity_11     75 non-null     float64
 53  PNGASEUUSDM_12     75 non-null     float64
 54  PWHEAMTUSDM_12     75 non-null     float64
 55  WPU0652013A_12     75 non-null     float64
 56  Electricity_12     75 non-null     float64
 57  AR_1               75 non-null     float64
 58  AR_2               75 non-null     float64
 59  AR_3               75 non-null     float64
 60  AR_4               75 non-null     float64
 61  AR_5               75 non-null     float64
 62  AR_6               75 non-null     float64
 63  AR_7               75 non-null     float64
 64  AR_8               75 non-null     float64
 65  AR_9               75 non-null     float64
 66  AR_10              75 non-null     float64
 67  AR_11              75 non-null     float64
 68  AR_12              75 non-null     float64
dtypes: bool(4), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 39.0+ KB
None

## 0001

In [ ]:
feature_df = df_0001

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 3 to 193
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   PWHEAMTUSDM_1      96 non-null     float64
 7   WPU0652013A_1      96 non-null     float64
 8   Electricity_1      96 non-null     float64
 9   PNGASEUUSDM_2      96 non-null     float64
 10  PWHEAMTUSDM_2      96 non-null     float64
 11  WPU0652013A_2      96 non-null     float64
 12  Electricity_2      96 non-null     float64
 13  PNGASEUUSDM_3      96 non-null     float64
 14  PWHEAMTUSDM_3      96 non-null     float64
 15  WPU0652013A_3      96 non-null     float64
 16  Electricity_3      96 non-null     float64
 17  PNGASEUUSDM_4      96 non-null     float64
 18  PWHEAMTUSDM_4      96 non-null     float64
 19  WPU0652013A_4      96 non-null     float64
 20  Electricity_4      96 non-null     float64
 21  PNGASEUUSDM_5      96 non-null     float64
 22  PWHEAMTUSDM_5      96 non-null     float64
 23  WPU0652013A_5      96 non-null     float64
 24  Electricity_5      96 non-null     float64
 25  PNGASEUUSDM_6      96 non-null     float64
 26  PWHEAMTUSDM_6      96 non-null     float64
 27  WPU0652013A_6      96 non-null     float64
 28  Electricity_6      96 non-null     float64
 29  PNGASEUUSDM_7      96 non-null     float64
 30  PWHEAMTUSDM_7      96 non-null     float64
 31  WPU0652013A_7      96 non-null     float64
 32  Electricity_7      96 non-null     float64
 33  PNGASEUUSDM_8      96 non-null     float64
 34  PWHEAMTUSDM_8      96 non-null     float64
 35  WPU0652013A_8      96 non-null     float64
 36  Electricity_8      96 non-null     float64
 37  PNGASEUUSDM_9      96 non-null     float64
 38  PWHEAMTUSDM_9      96 non-null     float64
 39  WPU0652013A_9      96 non-null     float64
 40  Electricity_9      96 non-null     float64
 41  PNGASEUUSDM_10     96 non-null     float64
 42  PWHEAMTUSDM_10     96 non-null     float64
 43  WPU0652013A_10     96 non-null     float64
 44  Electricity_10     96 non-null     float64
 45  PNGASEUUSDM_11     96 non-null     float64
 46  PWHEAMTUSDM_11     96 non-null     float64
 47  WPU0652013A_11     96 non-null     float64
 48  Electricity_11     96 non-null     float64
 49  PNGASEUUSDM_12     96 non-null     float64
 50  PWHEAMTUSDM_12     96 non-null     float64
 51  WPU0652013A_12     96 non-null     float64
 52  Electricity_12     96 non-null     float64
 53  AR_1               96 non-null     float64
 54  AR_2               96 non-null     float64
 55  AR_3               96 non-null     float64
 56  AR_4               96 non-null     float64
 57  AR_5               96 non-null     float64
 58  AR_6               96 non-null     float64
 59  AR_7               96 non-null     float64
 60  AR_8               96 non-null     float64
 61  AR_9               96 non-null     float64
 62  AR_10              96 non-null     float64
 63  AR_11              96 non-null     float64
 64  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.8
MAPE from 2019-07-01 to 2020-01-01: 2.3
MAPE from 2020-01-01 to 2020-07-01: 1.4
MAPE from 2020-07-01 to 2021-01-01: 1.7
MAPE from 2021-01-01 to 2021-07-01: 14.5
MAPE from 2021-07-01 to 2022-01-01: 5.9
MAPE from 2022-01-01 to 2022-07-01: 3.4
MAPE from 2022-07-01 to 2023-01-01: 1.9
MAPE from 2023-01-01 to 2023-07-01: 6.3
MAPE from 2023-07-01 to 2024-01-01: 7.6

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 5.2

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.01)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 15.5
MAPE from 2019-07-01 to 2020-01-01: 6.0
MAPE from 2020-01-01 to 2020-07-01: 3.1
MAPE from 2020-07-01 to 2021-01-01: 3.2
MAPE from 2021-01-01 to 2021-07-01: 28.2
MAPE from 2021-07-01 to 2022-01-01: 20.6
MAPE from 2022-01-01 to 2022-07-01: 13.8
MAPE from 2022-07-01 to 2023-01-01: 3.5
MAPE from 2023-01-01 to 2023-07-01: 6.4
MAPE from 2023-07-01 to 2024-01-01: 12.9

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.3

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.05)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 12.4
MAPE from 2019-07-01 to 2020-01-01: 10.4
MAPE from 2020-01-01 to 2020-07-01: 5.6
MAPE from 2020-07-01 to 2021-01-01: 5.5
MAPE from 2021-01-01 to 2021-07-01: 31.2
MAPE from 2021-07-01 to 2022-01-01: 41.3
MAPE from 2022-01-01 to 2022-07-01: 12.2
MAPE from 2022-07-01 to 2023-01-01: 17.3
MAPE from 2023-01-01 to 2023-07-01: 8.1
MAPE from 2023-07-01 to 2024-01-01: 18.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 16.2

## 0004

In [ ]:
feature_df = df_0004

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 2 to 192
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   PWHEAMTUSDM_1      96 non-null     float64
 7   WPU0652013A_1      96 non-null     float64
 8   Electricity_1      96 non-null     float64
 9   PNGASEUUSDM_2      96 non-null     float64
 10  PWHEAMTUSDM_2      96 non-null     float64
 11  WPU0652013A_2      96 non-null     float64
 12  Electricity_2      96 non-null     float64
 13  PNGASEUUSDM_3      96 non-null     float64
 14  PWHEAMTUSDM_3      96 non-null     float64
 15  WPU0652013A_3      96 non-null     float64
 16  Electricity_3      96 non-null     float64
 17  PNGASEUUSDM_4      96 non-null     float64
 18  PWHEAMTUSDM_4      96 non-null     float64
 19  WPU0652013A_4      96 non-null     float64
 20  Electricity_4      96 non-null     float64
 21  PNGASEUUSDM_5      96 non-null     float64
 22  PWHEAMTUSDM_5      96 non-null     float64
 23  WPU0652013A_5      96 non-null     float64
 24  Electricity_5      96 non-null     float64
 25  PNGASEUUSDM_6      96 non-null     float64
 26  PWHEAMTUSDM_6      96 non-null     float64
 27  WPU0652013A_6      96 non-null     float64
 28  Electricity_6      96 non-null     float64
 29  PNGASEUUSDM_7      96 non-null     float64
 30  PWHEAMTUSDM_7      96 non-null     float64
 31  WPU0652013A_7      96 non-null     float64
 32  Electricity_7      96 non-null     float64
 33  PNGASEUUSDM_8      96 non-null     float64
 34  PWHEAMTUSDM_8      96 non-null     float64
 35  WPU0652013A_8      96 non-null     float64
 36  Electricity_8      96 non-null     float64
 37  PNGASEUUSDM_9      96 non-null     float64
 38  PWHEAMTUSDM_9      96 non-null     float64
 39  WPU0652013A_9      96 non-null     float64
 40  Electricity_9      96 non-null     float64
 41  PNGASEUUSDM_10     96 non-null     float64
 42  PWHEAMTUSDM_10     96 non-null     float64
 43  WPU0652013A_10     96 non-null     float64
 44  Electricity_10     96 non-null     float64
 45  PNGASEUUSDM_11     96 non-null     float64
 46  PWHEAMTUSDM_11     96 non-null     float64
 47  WPU0652013A_11     96 non-null     float64
 48  Electricity_11     96 non-null     float64
 49  PNGASEUUSDM_12     96 non-null     float64
 50  PWHEAMTUSDM_12     96 non-null     float64
 51  WPU0652013A_12     96 non-null     float64
 52  Electricity_12     96 non-null     float64
 53  AR_1               96 non-null     float64
 54  AR_2               96 non-null     float64
 55  AR_3               96 non-null     float64
 56  AR_4               96 non-null     float64
 57  AR_5               96 non-null     float64
 58  AR_6               96 non-null     float64
 59  AR_7               96 non-null     float64
 60  AR_8               96 non-null     float64
 61  AR_9               96 non-null     float64
 62  AR_10              96 non-null     float64
 63  AR_11              96 non-null     float64
 64  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 7.1
MAPE from 2019-07-01 to 2020-01-01: 12.0
MAPE from 2020-01-01 to 2020-07-01: 12.3
MAPE from 2020-07-01 to 2021-01-01: 18.9
MAPE from 2021-01-01 to 2021-07-01: 11.6
MAPE from 2021-07-01 to 2022-01-01: 8.6
MAPE from 2022-01-01 to 2022-07-01: 10.3
MAPE from 2022-07-01 to 2023-01-01: 8.5
MAPE from 2023-01-01 to 2023-07-01: 7.3
MAPE from 2023-07-01 to 2024-01-01: 3.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.0

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.3
MAPE from 2019-07-01 to 2020-01-01: 17.6
MAPE from 2020-01-01 to 2020-07-01: 23.2
MAPE from 2020-07-01 to 2021-01-01: 17.7
MAPE from 2021-01-01 to 2021-07-01: 17.0
MAPE from 2021-07-01 to 2022-01-01: 23.3
MAPE from 2022-01-01 to 2022-07-01: 10.3
MAPE from 2022-07-01 to 2023-01-01: 18.5
MAPE from 2023-01-01 to 2023-07-01: 15.5
MAPE from 2023-07-01 to 2024-01-01: 3.6

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 15.8

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 9.7
MAPE from 2019-07-01 to 2020-01-01: 26.2
MAPE from 2020-01-01 to 2020-07-01: 29.9
MAPE from 2020-07-01 to 2021-01-01: 35.2
MAPE from 2021-01-01 to 2021-07-01: 19.9
MAPE from 2021-07-01 to 2022-01-01: 37.2
MAPE from 2022-01-01 to 2022-07-01: 26.7
MAPE from 2022-07-01 to 2023-01-01: 9.5
MAPE from 2023-01-01 to 2023-07-01: 49.5
MAPE from 2023-07-01 to 2024-01-01: 4.5

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 24.8

## 0006

In [ ]:
feature_df = df_0006

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 309 to 404
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               95 non-null     int64
 1   Month              95 non-null     int64
 2   Time               95 non-null     datetime64[ns]
 3   Group Description  95 non-null     object
 4   Average_price      95 non-null     float64
 5   PNGASEUUSDM_1      95 non-null     float64
 6   PWHEAMTUSDM_1      95 non-null     float64
 7   WPU0652013A_1      95 non-null     float64
 8   Electricity_1      95 non-null     float64
 9   PNGASEUUSDM_2      95 non-null     float64
 10  PWHEAMTUSDM_2      95 non-null     float64
 11  WPU0652013A_2      95 non-null     float64
 12  Electricity_2      95 non-null     float64
 13  PNGASEUUSDM_3      95 non-null     float64
 14  PWHEAMTUSDM_3      95 non-null     float64
 15  WPU0652013A_3      95 non-null     float64
 16  Electricity_3      95 non-null     float64
 17  PNGASEUUSDM_4      95 non-null     float64
 18  PWHEAMTUSDM_4      95 non-null     float64
 19  WPU0652013A_4      95 non-null     float64
 20  Electricity_4      95 non-null     float64
 21  PNGASEUUSDM_5      95 non-null     float64
 22  PWHEAMTUSDM_5      95 non-null     float64
 23  WPU0652013A_5      95 non-null     float64
 24  Electricity_5      95 non-null     float64
 25  PNGASEUUSDM_6      95 non-null     float64
 26  PWHEAMTUSDM_6      95 non-null     float64
 27  WPU0652013A_6      95 non-null     float64
 28  Electricity_6      95 non-null     float64
 29  PNGASEUUSDM_7      95 non-null     float64
 30  PWHEAMTUSDM_7      95 non-null     float64
 31  WPU0652013A_7      95 non-null     float64
 32  Electricity_7      95 non-null     float64
 33  PNGASEUUSDM_8      95 non-null     float64
 34  PWHEAMTUSDM_8      95 non-null     float64
 35  WPU0652013A_8      95 non-null     float64
 36  Electricity_8      95 non-null     float64
 37  PNGASEUUSDM_9      95 non-null     float64
 38  PWHEAMTUSDM_9      95 non-null     float64
 39  WPU0652013A_9      95 non-null     float64
 40  Electricity_9      95 non-null     float64
 41  PNGASEUUSDM_10     95 non-null     float64
 42  PWHEAMTUSDM_10     95 non-null     float64
 43  WPU0652013A_10     95 non-null     float64
 44  Electricity_10     95 non-null     float64
 45  PNGASEUUSDM_11     95 non-null     float64
 46  PWHEAMTUSDM_11     95 non-null     float64
 47  WPU0652013A_11     95 non-null     float64
 48  Electricity_11     95 non-null     float64
 49  PNGASEUUSDM_12     95 non-null     float64
 50  PWHEAMTUSDM_12     95 non-null     float64
 51  WPU0652013A_12     95 non-null     float64
 52  Electricity_12     95 non-null     float64
 53  AR_1               95 non-null     float64
 54  AR_2               95 non-null     float64
 55  AR_3               95 non-null     float64
 56  AR_4               95 non-null     float64
 57  AR_5               95 non-null     float64
 58  AR_6               95 non-null     float64
 59  AR_7               95 non-null     float64
 60  AR_8               95 non-null     float64
 61  AR_9               95 non-null     float64
 62  AR_10              95 non-null     float64
 63  AR_11              95 non-null     float64
 64  AR_12              95 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.0+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.3
MAPE from 2019-07-01 to 2020-01-01: 5.2
MAPE from 2020-01-01 to 2020-07-01: 7.5
MAPE from 2020-07-01 to 2021-01-01: 4.7
MAPE from 2021-01-01 to 2021-07-01: 6.5
MAPE from 2021-07-01 to 2022-01-01: 15.0
MAPE from 2022-01-01 to 2022-07-01: 27.7
MAPE from 2022-07-01 to 2023-01-01: 25.5
MAPE from 2023-01-01 to 2023-07-01: 6.7
MAPE from 2023-07-01 to 2024-01-01: 11.9

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.6

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.3
MAPE from 2019-07-01 to 2020-01-01: 4.8
MAPE from 2020-01-01 to 2020-07-01: 6.4
MAPE from 2020-07-01 to 2021-01-01: 4.2
MAPE from 2021-01-01 to 2021-07-01: 5.5
MAPE from 2021-07-01 to 2022-01-01: 16.3
MAPE from 2022-01-01 to 2022-07-01: 54.0
MAPE from 2022-07-01 to 2023-01-01: 23.6
MAPE from 2023-01-01 to 2023-07-01: 6.3
MAPE from 2023-07-01 to 2024-01-01: 12.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.8

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 3.2
MAPE from 2019-07-01 to 2020-01-01: 3.7
MAPE from 2020-01-01 to 2020-07-01: 7.7
MAPE from 2020-07-01 to 2021-01-01: 4.8
MAPE from 2021-01-01 to 2021-07-01: 5.0
MAPE from 2021-07-01 to 2022-01-01: 20.4
MAPE from 2022-01-01 to 2022-07-01: 57.1
MAPE from 2022-07-01 to 2023-01-01: 44.1
MAPE from 2023-01-01 to 2023-07-01: 17.0
MAPE from 2023-07-01 to 2024-01-01: 12.8

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 17.6

## 0007

In [ ]:
feature_df = df_0007

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 213 to 307
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               75 non-null     int64
 1   Month              75 non-null     int64
 2   Time               75 non-null     datetime64[ns]
 3   Group Description  75 non-null     object
 4   Average_price      75 non-null     float64
 5   PNGASEUUSDM_1      75 non-null     float64
 6   PWHEAMTUSDM_1      75 non-null     float64
 7   WPU0652013A_1      75 non-null     float64
 8   Electricity_1      75 non-null     float64
 9   PNGASEUUSDM_2      75 non-null     float64
 10  PWHEAMTUSDM_2      75 non-null     float64
 11  WPU0652013A_2      75 non-null     float64
 12  Electricity_2      75 non-null     float64
 13  PNGASEUUSDM_3      75 non-null     float64
 14  PWHEAMTUSDM_3      75 non-null     float64
 15  WPU0652013A_3      75 non-null     float64
 16  Electricity_3      75 non-null     float64
 17  PNGASEUUSDM_4      75 non-null     float64
 18  PWHEAMTUSDM_4      75 non-null     float64
 19  WPU0652013A_4      75 non-null     float64
 20  Electricity_4      75 non-null     float64
 21  PNGASEUUSDM_5      75 non-null     float64
 22  PWHEAMTUSDM_5      75 non-null     float64
 23  WPU0652013A_5      75 non-null     float64
 24  Electricity_5      75 non-null     float64
 25  PNGASEUUSDM_6      75 non-null     float64
 26  PWHEAMTUSDM_6      75 non-null     float64
 27  WPU0652013A_6      75 non-null     float64
 28  Electricity_6      75 non-null     float64
 29  PNGASEUUSDM_7      75 non-null     float64
 30  PWHEAMTUSDM_7      75 non-null     float64
 31  WPU0652013A_7      75 non-null     float64
 32  Electricity_7      75 non-null     float64
 33  PNGASEUUSDM_8      75 non-null     float64
 34  PWHEAMTUSDM_8      75 non-null     float64
 35  WPU0652013A_8      75 non-null     float64
 36  Electricity_8      75 non-null     float64
 37  PNGASEUUSDM_9      75 non-null     float64
 38  PWHEAMTUSDM_9      75 non-null     float64
 39  WPU0652013A_9      75 non-null     float64
 40  Electricity_9      75 non-null     float64
 41  PNGASEUUSDM_10     75 non-null     float64
 42  PWHEAMTUSDM_10     75 non-null     float64
 43  WPU0652013A_10     75 non-null     float64
 44  Electricity_10     75 non-null     float64
 45  PNGASEUUSDM_11     75 non-null     float64
 46  PWHEAMTUSDM_11     75 non-null     float64
 47  WPU0652013A_11     75 non-null     float64
 48  Electricity_11     75 non-null     float64
 49  PNGASEUUSDM_12     75 non-null     float64
 50  PWHEAMTUSDM_12     75 non-null     float64
 51  WPU0652013A_12     75 non-null     float64
 52  Electricity_12     75 non-null     float64
 53  AR_1               75 non-null     float64
 54  AR_2               75 non-null     float64
 55  AR_3               75 non-null     float64
 56  AR_4               75 non-null     float64
 57  AR_5               75 non-null     float64
 58  AR_6               75 non-null     float64
 59  AR_7               75 non-null     float64
 60  AR_8               75 non-null     float64
 61  AR_9               75 non-null     float64
 62  AR_10              75 non-null     float64
 63  AR_11              75 non-null     float64
 64  AR_12              75 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 38.7+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.01)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.470e-03, tolerance: 1.455e-03
  model = cd_fast.enet_coordinate_descent(

MAPE from 2019-01-01 to 2019-07-01: 40.4
MAPE from 2019-07-01 to 2020-01-01: 13.9
MAPE from 2020-01-01 to 2020-07-01: 26.3
MAPE from 2020-07-01 to 2021-01-01: 9.1
MAPE from 2021-01-01 to 2021-07-01: 17.5

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.303e-02, tolerance: 3.171e-03
  model = cd_fast.enet_coordinate_descent(

MAPE from 2021-07-01 to 2022-01-01: 21.8
MAPE from 2022-01-01 to 2022-07-01: 51.1
MAPE from 2022-07-01 to 2023-01-01: 47.7
MAPE from 2023-01-01 to 2023-07-01: 5.1
MAPE from 2023-07-01 to 2024-01-01: 6.1

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 23.9

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 40.4
MAPE from 2019-07-01 to 2020-01-01: 13.5
MAPE from 2020-01-01 to 2020-07-01: 32.0
MAPE from 2020-07-01 to 2021-01-01: 12.3
MAPE from 2021-01-01 to 2021-07-01: 20.5
MAPE from 2021-07-01 to 2022-01-01: 26.6
MAPE from 2022-01-01 to 2022-07-01: 43.9
MAPE from 2022-07-01 to 2023-01-01: 44.7
MAPE from 2023-01-01 to 2023-07-01: 17.9
MAPE from 2023-07-01 to 2024-01-01: 12.4

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 26.4

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 40.4
MAPE from 2019-07-01 to 2020-01-01: 18.1
MAPE from 2020-01-01 to 2020-07-01: 33.8
MAPE from 2020-07-01 to 2021-01-01: 10.1
MAPE from 2021-01-01 to 2021-07-01: 12.8
MAPE from 2021-07-01 to 2022-01-01: 26.6
MAPE from 2022-01-01 to 2022-07-01: 51.1
MAPE from 2022-07-01 to 2023-01-01: 57.3
MAPE from 2023-01-01 to 2023-07-01: 16.6
MAPE from 2023-07-01 to 2024-01-01: 8.5

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 27.5

# Non-ionic Surfactant

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/non-ionic surfactant_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM12/0002  RM12/0003  RM12/0005  RM12/0008  RM12/0012  Year  Month  \
2        False      False       True      False      False  2016      1
3        False       True      False      False      False  2016      1
4        False      False       True      False      False  2016      2
5        False       True      False      False      False  2016      2
6        False      False       True      False      False  2016      3
..         ...        ...        ...        ...        ...   ...    ...
488       True      False      False      False      False  2023      8
489       True      False      False      False      False  2023      9
490       True      False      False      False      False  2023     10
491       True      False      False      False      False  2023     11
492       True      False      False      False      False  2023     12

          Time     Group Description  Average_price  ...      AR_3      AR_4  \
2   2016-01-29  non-ionic surfactant       1.630000  ...  1.650000  1.650000
3   2016-01-31  non-ionic surfactant       1.142000  ...  1.200000  1.272222
4   2016-02-29  non-ionic surfactant       1.630000  ...  1.650000  1.650000
5   2016-02-29  non-ionic surfactant       1.038909  ...  1.085750  1.200000
6   2016-03-31  non-ionic surfactant       1.630000  ...  1.650000  1.650000
..         ...                   ...            ...  ...       ...       ...
488 2023-08-31  non-ionic surfactant       1.750397  ...  2.256034  1.783333
489 2023-09-30  non-ionic surfactant       1.883857  ...  1.955800  2.256034
490 2023-10-30  non-ionic surfactant       1.833500  ...  2.132308  1.955800
491 2023-11-30  non-ionic surfactant       2.385135  ...  1.750397  2.132308
492 2023-12-31  non-ionic surfactant       1.813101  ...  1.883857  1.750397

         AR_5      AR_6      AR_7      AR_8      AR_9     AR_10     AR_11  \
2    1.650000  1.550000  1.450000  1.450000  1.380000  1.420000  1.420000
3    1.200000  1.350000  1.243333  1.275000  1.400000  1.154286  1.224286
4    1.650000  1.650000  1.550000  1.450000  1.450000  1.380000  1.420000
5    1.272222  1.200000  1.350000  1.243333  1.275000  1.400000  1.154286
6    1.650000  1.650000  1.650000  1.550000  1.450000  1.450000  1.380000
..        ...       ...       ...       ...       ...       ...       ...
488  2.411359  1.721000  1.681333  2.178481  2.500268  2.395888  2.316082
489  1.783333  2.411359  1.721000  1.681333  2.178481  2.500268  2.395888
490  2.256034  1.783333  2.411359  1.721000  1.681333  2.178481  2.500268
491  1.955800  2.256034  1.783333  2.411359  1.721000  1.681333  2.178481
492  2.132308  1.955800  2.256034  1.783333  2.411359  1.721000  1.681333

        AR_12
2    1.406667
3    1.151429
4    1.420000
5    1.224286
6    1.420000
..        ...
488  2.227134
489  2.316082
490  2.395888
491  2.500268
492  2.178481

[469 rows x 82 columns]

In [ ]:
df_0002 = feature_df[feature_df['RM12/0002'] == 1]
print(df_0002.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 397 to 492
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM12/0002          96 non-null     bool
 1   RM12/0003          96 non-null     bool
 2   RM12/0005          96 non-null     bool
 3   RM12/0008          96 non-null     bool
 4   RM12/0012          96 non-null     bool
 5   Year               96 non-null     int64
 6   Month              96 non-null     int64
 7   Time               96 non-null     datetime64[ns]
 8   Group Description  96 non-null     object
 9   Average_price      96 non-null     float64
 10  PNGASEUUSDM_1      96 non-null     float64
 11  POILBREUSDM_1      96 non-null     float64
 12  PPOILUSDM_1        96 non-null     float64
 13  WPU0652013A_1      96 non-null     float64
 14  Electricity_1      96 non-null     float64
 15  PNGASEUUSDM_2      96 non-null     float64
 16  POILBREUSDM_2      96 non-null     float64
 17  PPOILUSDM_2        96 non-null     float64
 18  WPU0652013A_2      96 non-null     float64
 19  Electricity_2      96 non-null     float64
 20  PNGASEUUSDM_3      96 non-null     float64
 21  POILBREUSDM_3      96 non-null     float64
 22  PPOILUSDM_3        96 non-null     float64
 23  WPU0652013A_3      96 non-null     float64
 24  Electricity_3      96 non-null     float64
 25  PNGASEUUSDM_4      96 non-null     float64
 26  POILBREUSDM_4      96 non-null     float64
 27  PPOILUSDM_4        96 non-null     float64
 28  WPU0652013A_4      96 non-null     float64
 29  Electricity_4      96 non-null     float64
 30  PNGASEUUSDM_5      96 non-null     float64
 31  POILBREUSDM_5      96 non-null     float64
 32  PPOILUSDM_5        96 non-null     float64
 33  WPU0652013A_5      96 non-null     float64
 34  Electricity_5      96 non-null     float64
 35  PNGASEUUSDM_6      96 non-null     float64
 36  POILBREUSDM_6      96 non-null     float64
 37  PPOILUSDM_6        96 non-null     float64
 38  WPU0652013A_6      96 non-null     float64
 39  Electricity_6      96 non-null     float64
 40  PNGASEUUSDM_7      96 non-null     float64
 41  POILBREUSDM_7      96 non-null     float64
 42  PPOILUSDM_7        96 non-null     float64
 43  WPU0652013A_7      96 non-null     float64
 44  Electricity_7      96 non-null     float64
 45  PNGASEUUSDM_8      96 non-null     float64
 46  POILBREUSDM_8      96 non-null     float64
 47  PPOILUSDM_8        96 non-null     float64
 48  WPU0652013A_8      96 non-null     float64
 49  Electricity_8      96 non-null     float64
 50  PNGASEUUSDM_9      96 non-null     float64
 51  POILBREUSDM_9      96 non-null     float64
 52  PPOILUSDM_9        96 non-null     float64
 53  WPU0652013A_9      96 non-null     float64
 54  Electricity_9      96 non-null     float64
 55  PNGASEUUSDM_10     96 non-null     float64
 56  POILBREUSDM_10     96 non-null     float64
 57  PPOILUSDM_10       96 non-null     float64
 58  WPU0652013A_10     96 non-null     float64
 59  Electricity_10     96 non-null     float64
 60  PNGASEUUSDM_11     96 non-null     float64
 61  POILBREUSDM_11     96 non-null     float64
 62  PPOILUSDM_11       96 non-null     float64
 63  WPU0652013A_11     96 non-null     float64
 64  Electricity_11     96 non-null     float64
 65  PNGASEUUSDM_12     96 non-null     float64
 66  POILBREUSDM_12     96 non-null     float64
 67  PPOILUSDM_12       96 non-null     float64
 68  WPU0652013A_12     96 non-null     float64
 69  Electricity_12     96 non-null     float64
 70  AR_1               96 non-null     float64
 71  AR_2               96 non-null     float64
 72  AR_3               96 non-null     float64
 73  AR_4               96 non-null     float64
 74  AR_5               96 non-null     float64
 75  AR_6               96 non-null     float64
 76  AR_7               96 non-null     float64
 77  AR_8               96 non-null     float64
 78  AR_9               96 non-null     float64
 79  AR_10              96 non-null     float64
 80  AR_11              96 non-null     float64
 81  AR_12              96 non-null     float64
dtypes: bool(5), datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 59.0+ KB
None

In [ ]:
df_0003 = feature_df[feature_df['RM12/0003'] == 1]
print(df_0003.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 3 to 193
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM12/0002          96 non-null     bool
 1   RM12/0003          96 non-null     bool
 2   RM12/0005          96 non-null     bool
 3   RM12/0008          96 non-null     bool
 4   RM12/0012          96 non-null     bool
 5   Year               96 non-null     int64
 6   Month              96 non-null     int64
 7   Time               96 non-null     datetime64[ns]
 8   Group Description  96 non-null     object
 9   Average_price      96 non-null     float64
 10  PNGASEUUSDM_1      96 non-null     float64
 11  POILBREUSDM_1      96 non-null     float64
 12  PPOILUSDM_1        96 non-null     float64
 13  WPU0652013A_1      96 non-null     float64
 14  Electricity_1      96 non-null     float64
 15  PNGASEUUSDM_2      96 non-null     float64
 16  POILBREUSDM_2      96 non-null     float64
 17  PPOILUSDM_2        96 non-null     float64
 18  WPU0652013A_2      96 non-null     float64
 19  Electricity_2      96 non-null     float64
 20  PNGASEUUSDM_3      96 non-null     float64
 21  POILBREUSDM_3      96 non-null     float64
 22  PPOILUSDM_3        96 non-null     float64
 23  WPU0652013A_3      96 non-null     float64
 24  Electricity_3      96 non-null     float64
 25  PNGASEUUSDM_4      96 non-null     float64
 26  POILBREUSDM_4      96 non-null     float64
 27  PPOILUSDM_4        96 non-null     float64
 28  WPU0652013A_4      96 non-null     float64
 29  Electricity_4      96 non-null     float64
 30  PNGASEUUSDM_5      96 non-null     float64
 31  POILBREUSDM_5      96 non-null     float64
 32  PPOILUSDM_5        96 non-null     float64
 33  WPU0652013A_5      96 non-null     float64
 34  Electricity_5      96 non-null     float64
 35  PNGASEUUSDM_6      96 non-null     float64
 36  POILBREUSDM_6      96 non-null     float64
 37  PPOILUSDM_6        96 non-null     float64
 38  WPU0652013A_6      96 non-null     float64
 39  Electricity_6      96 non-null     float64
 40  PNGASEUUSDM_7      96 non-null     float64
 41  POILBREUSDM_7      96 non-null     float64
 42  PPOILUSDM_7        96 non-null     float64
 43  WPU0652013A_7      96 non-null     float64
 44  Electricity_7      96 non-null     float64
 45  PNGASEUUSDM_8      96 non-null     float64
 46  POILBREUSDM_8      96 non-null     float64
 47  PPOILUSDM_8        96 non-null     float64
 48  WPU0652013A_8      96 non-null     float64
 49  Electricity_8      96 non-null     float64
 50  PNGASEUUSDM_9      96 non-null     float64
 51  POILBREUSDM_9      96 non-null     float64
 52  PPOILUSDM_9        96 non-null     float64
 53  WPU0652013A_9      96 non-null     float64
 54  Electricity_9      96 non-null     float64
 55  PNGASEUUSDM_10     96 non-null     float64
 56  POILBREUSDM_10     96 non-null     float64
 57  PPOILUSDM_10       96 non-null     float64
 58  WPU0652013A_10     96 non-null     float64
 59  Electricity_10     96 non-null     float64
 60  PNGASEUUSDM_11     96 non-null     float64
 61  POILBREUSDM_11     96 non-null     float64
 62  PPOILUSDM_11       96 non-null     float64
 63  WPU0652013A_11     96 non-null     float64
 64  Electricity_11     96 non-null     float64
 65  PNGASEUUSDM_12     96 non-null     float64
 66  POILBREUSDM_12     96 non-null     float64
 67  PPOILUSDM_12       96 non-null     float64
 68  WPU0652013A_12     96 non-null     float64
 69  Electricity_12     96 non-null     float64
 70  AR_1               96 non-null     float64
 71  AR_2               96 non-null     float64
 72  AR_3               96 non-null     float64
 73  AR_4               96 non-null     float64
 74  AR_5               96 non-null     float64
 75  AR_6               96 non-null     float64
 76  AR_7               96 non-null     float64
 77  AR_8               96 non-null     float64
 78  AR_9               96 non-null     float64
 79  AR_10              96 non-null     float64
 80  AR_11              96 non-null     float64
 81  AR_12              96 non-null     float64
dtypes: bool(5), datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 59.0+ KB
None

In [ ]:
df_0005 = feature_df[feature_df['RM12/0005'] == 1]
print(df_0005.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 2 to 192
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM12/0002          96 non-null     bool
 1   RM12/0003          96 non-null     bool
 2   RM12/0005          96 non-null     bool
 3   RM12/0008          96 non-null     bool
 4   RM12/0012          96 non-null     bool
 5   Year               96 non-null     int64
 6   Month              96 non-null     int64
 7   Time               96 non-null     datetime64[ns]
 8   Group Description  96 non-null     object
 9   Average_price      96 non-null     float64
 10  PNGASEUUSDM_1      96 non-null     float64
 11  POILBREUSDM_1      96 non-null     float64
 12  PPOILUSDM_1        96 non-null     float64
 13  WPU0652013A_1      96 non-null     float64
 14  Electricity_1      96 non-null     float64
 15  PNGASEUUSDM_2      96 non-null     float64
 16  POILBREUSDM_2      96 non-null     float64
 17  PPOILUSDM_2        96 non-null     float64
 18  WPU0652013A_2      96 non-null     float64
 19  Electricity_2      96 non-null     float64
 20  PNGASEUUSDM_3      96 non-null     float64
 21  POILBREUSDM_3      96 non-null     float64
 22  PPOILUSDM_3        96 non-null     float64
 23  WPU0652013A_3      96 non-null     float64
 24  Electricity_3      96 non-null     float64
 25  PNGASEUUSDM_4      96 non-null     float64
 26  POILBREUSDM_4      96 non-null     float64
 27  PPOILUSDM_4        96 non-null     float64
 28  WPU0652013A_4      96 non-null     float64
 29  Electricity_4      96 non-null     float64
 30  PNGASEUUSDM_5      96 non-null     float64
 31  POILBREUSDM_5      96 non-null     float64
 32  PPOILUSDM_5        96 non-null     float64
 33  WPU0652013A_5      96 non-null     float64
 34  Electricity_5      96 non-null     float64
 35  PNGASEUUSDM_6      96 non-null     float64
 36  POILBREUSDM_6      96 non-null     float64
 37  PPOILUSDM_6        96 non-null     float64
 38  WPU0652013A_6      96 non-null     float64
 39  Electricity_6      96 non-null     float64
 40  PNGASEUUSDM_7      96 non-null     float64
 41  POILBREUSDM_7      96 non-null     float64
 42  PPOILUSDM_7        96 non-null     float64
 43  WPU0652013A_7      96 non-null     float64
 44  Electricity_7      96 non-null     float64
 45  PNGASEUUSDM_8      96 non-null     float64
 46  POILBREUSDM_8      96 non-null     float64
 47  PPOILUSDM_8        96 non-null     float64
 48  WPU0652013A_8      96 non-null     float64
 49  Electricity_8      96 non-null     float64
 50  PNGASEUUSDM_9      96 non-null     float64
 51  POILBREUSDM_9      96 non-null     float64
 52  PPOILUSDM_9        96 non-null     float64
 53  WPU0652013A_9      96 non-null     float64
 54  Electricity_9      96 non-null     float64
 55  PNGASEUUSDM_10     96 non-null     float64
 56  POILBREUSDM_10     96 non-null     float64
 57  PPOILUSDM_10       96 non-null     float64
 58  WPU0652013A_10     96 non-null     float64
 59  Electricity_10     96 non-null     float64
 60  PNGASEUUSDM_11     96 non-null     float64
 61  POILBREUSDM_11     96 non-null     float64
 62  PPOILUSDM_11       96 non-null     float64
 63  WPU0652013A_11     96 non-null     float64
 64  Electricity_11     96 non-null     float64
 65  PNGASEUUSDM_12     96 non-null     float64
 66  POILBREUSDM_12     96 non-null     float64
 67  PPOILUSDM_12       96 non-null     float64
 68  WPU0652013A_12     96 non-null     float64
 69  Electricity_12     96 non-null     float64
 70  AR_1               96 non-null     float64
 71  AR_2               96 non-null     float64
 72  AR_3               96 non-null     float64
 73  AR_4               96 non-null     float64
 74  AR_5               96 non-null     float64
 75  AR_6               96 non-null     float64
 76  AR_7               96 non-null     float64
 77  AR_8               96 non-null     float64
 78  AR_9               96 non-null     float64
 79  AR_10              96 non-null     float64
 80  AR_11              96 non-null     float64
 81  AR_12              96 non-null     float64
dtypes: bool(5), datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 59.0+ KB
None

In [ ]:
df_0008 = feature_df[feature_df['RM12/0008'] == 1]
print(df_0008.info())

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 299 to 394
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM12/0002          94 non-null     bool
 1   RM12/0003          94 non-null     bool
 2   RM12/0005          94 non-null     bool
 3   RM12/0008          94 non-null     bool
 4   RM12/0012          94 non-null     bool
 5   Year               94 non-null     int64
 6   Month              94 non-null     int64
 7   Time               94 non-null     datetime64[ns]
 8   Group Description  94 non-null     object
 9   Average_price      94 non-null     float64
 10  PNGASEUUSDM_1      94 non-null     float64
 11  POILBREUSDM_1      94 non-null     float64
 12  PPOILUSDM_1        94 non-null     float64
 13  WPU0652013A_1      94 non-null     float64
 14  Electricity_1      94 non-null     float64
 15  PNGASEUUSDM_2      94 non-null     float64
 16  POILBREUSDM_2      94 non-null     float64
 17  PPOILUSDM_2        94 non-null     float64
 18  WPU0652013A_2      94 non-null     float64
 19  Electricity_2      94 non-null     float64
 20  PNGASEUUSDM_3      94 non-null     float64
 21  POILBREUSDM_3      94 non-null     float64
 22  PPOILUSDM_3        94 non-null     float64
 23  WPU0652013A_3      94 non-null     float64
 24  Electricity_3      94 non-null     float64
 25  PNGASEUUSDM_4      94 non-null     float64
 26  POILBREUSDM_4      94 non-null     float64
 27  PPOILUSDM_4        94 non-null     float64
 28  WPU0652013A_4      94 non-null     float64
 29  Electricity_4      94 non-null     float64
 30  PNGASEUUSDM_5      94 non-null     float64
 31  POILBREUSDM_5      94 non-null     float64
 32  PPOILUSDM_5        94 non-null     float64
 33  WPU0652013A_5      94 non-null     float64
 34  Electricity_5      94 non-null     float64
 35  PNGASEUUSDM_6      94 non-null     float64
 36  POILBREUSDM_6      94 non-null     float64
 37  PPOILUSDM_6        94 non-null     float64
 38  WPU0652013A_6      94 non-null     float64
 39  Electricity_6      94 non-null     float64
 40  PNGASEUUSDM_7      94 non-null     float64
 41  POILBREUSDM_7      94 non-null     float64
 42  PPOILUSDM_7        94 non-null     float64
 43  WPU0652013A_7      94 non-null     float64
 44  Electricity_7      94 non-null     float64
 45  PNGASEUUSDM_8      94 non-null     float64
 46  POILBREUSDM_8      94 non-null     float64
 47  PPOILUSDM_8        94 non-null     float64
 48  WPU0652013A_8      94 non-null     float64
 49  Electricity_8      94 non-null     float64
 50  PNGASEUUSDM_9      94 non-null     float64
 51  POILBREUSDM_9      94 non-null     float64
 52  PPOILUSDM_9        94 non-null     float64
 53  WPU0652013A_9      94 non-null     float64
 54  Electricity_9      94 non-null     float64
 55  PNGASEUUSDM_10     94 non-null     float64
 56  POILBREUSDM_10     94 non-null     float64
 57  PPOILUSDM_10       94 non-null     float64
 58  WPU0652013A_10     94 non-null     float64
 59  Electricity_10     94 non-null     float64
 60  PNGASEUUSDM_11     94 non-null     float64
 61  POILBREUSDM_11     94 non-null     float64
 62  PPOILUSDM_11       94 non-null     float64
 63  WPU0652013A_11     94 non-null     float64
 64  Electricity_11     94 non-null     float64
 65  PNGASEUUSDM_12     94 non-null     float64
 66  POILBREUSDM_12     94 non-null     float64
 67  PPOILUSDM_12       94 non-null     float64
 68  WPU0652013A_12     94 non-null     float64
 69  Electricity_12     94 non-null     float64
 70  AR_1               94 non-null     float64
 71  AR_2               94 non-null     float64
 72  AR_3               94 non-null     float64
 73  AR_4               94 non-null     float64
 74  AR_5               94 non-null     float64
 75  AR_6               94 non-null     float64
 76  AR_7               94 non-null     float64
 77  AR_8               94 non-null     float64
 78  AR_9               94 non-null     float64
 79  AR_10              94 non-null     float64
 80  AR_11              94 non-null     float64
 81  AR_12              94 non-null     float64
dtypes: bool(5), datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 57.7+ KB
None

In [ ]:
df_0012 = feature_df[feature_df['RM12/0012'] == 1]
print(df_0012.info())

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 202 to 297
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM12/0002          87 non-null     bool
 1   RM12/0003          87 non-null     bool
 2   RM12/0005          87 non-null     bool
 3   RM12/0008          87 non-null     bool
 4   RM12/0012          87 non-null     bool
 5   Year               87 non-null     int64
 6   Month              87 non-null     int64
 7   Time               87 non-null     datetime64[ns]
 8   Group Description  87 non-null     object
 9   Average_price      87 non-null     float64
 10  PNGASEUUSDM_1      87 non-null     float64
 11  POILBREUSDM_1      87 non-null     float64
 12  PPOILUSDM_1        87 non-null     float64
 13  WPU0652013A_1      87 non-null     float64
 14  Electricity_1      87 non-null     float64
 15  PNGASEUUSDM_2      87 non-null     float64
 16  POILBREUSDM_2      87 non-null     float64
 17  PPOILUSDM_2        87 non-null     float64
 18  WPU0652013A_2      87 non-null     float64
 19  Electricity_2      87 non-null     float64
 20  PNGASEUUSDM_3      87 non-null     float64
 21  POILBREUSDM_3      87 non-null     float64
 22  PPOILUSDM_3        87 non-null     float64
 23  WPU0652013A_3      87 non-null     float64
 24  Electricity_3      87 non-null     float64
 25  PNGASEUUSDM_4      87 non-null     float64
 26  POILBREUSDM_4      87 non-null     float64
 27  PPOILUSDM_4        87 non-null     float64
 28  WPU0652013A_4      87 non-null     float64
 29  Electricity_4      87 non-null     float64
 30  PNGASEUUSDM_5      87 non-null     float64
 31  POILBREUSDM_5      87 non-null     float64
 32  PPOILUSDM_5        87 non-null     float64
 33  WPU0652013A_5      87 non-null     float64
 34  Electricity_5      87 non-null     float64
 35  PNGASEUUSDM_6      87 non-null     float64
 36  POILBREUSDM_6      87 non-null     float64
 37  PPOILUSDM_6        87 non-null     float64
 38  WPU0652013A_6      87 non-null     float64
 39  Electricity_6      87 non-null     float64
 40  PNGASEUUSDM_7      87 non-null     float64
 41  POILBREUSDM_7      87 non-null     float64
 42  PPOILUSDM_7        87 non-null     float64
 43  WPU0652013A_7      87 non-null     float64
 44  Electricity_7      87 non-null     float64
 45  PNGASEUUSDM_8      87 non-null     float64
 46  POILBREUSDM_8      87 non-null     float64
 47  PPOILUSDM_8        87 non-null     float64
 48  WPU0652013A_8      87 non-null     float64
 49  Electricity_8      87 non-null     float64
 50  PNGASEUUSDM_9      87 non-null     float64
 51  POILBREUSDM_9      87 non-null     float64
 52  PPOILUSDM_9        87 non-null     float64
 53  WPU0652013A_9      87 non-null     float64
 54  Electricity_9      87 non-null     float64
 55  PNGASEUUSDM_10     87 non-null     float64
 56  POILBREUSDM_10     87 non-null     float64
 57  PPOILUSDM_10       87 non-null     float64
 58  WPU0652013A_10     87 non-null     float64
 59  Electricity_10     87 non-null     float64
 60  PNGASEUUSDM_11     87 non-null     float64
 61  POILBREUSDM_11     87 non-null     float64
 62  PPOILUSDM_11       87 non-null     float64
 63  WPU0652013A_11     87 non-null     float64
 64  Electricity_11     87 non-null     float64
 65  PNGASEUUSDM_12     87 non-null     float64
 66  POILBREUSDM_12     87 non-null     float64
 67  PPOILUSDM_12       87 non-null     float64
 68  WPU0652013A_12     87 non-null     float64
 69  Electricity_12     87 non-null     float64
 70  AR_1               87 non-null     float64
 71  AR_2               87 non-null     float64
 72  AR_3               87 non-null     float64
 73  AR_4               87 non-null     float64
 74  AR_5               87 non-null     float64
 75  AR_6               87 non-null     float64
 76  AR_7               87 non-null     float64
 77  AR_8               87 non-null     float64
 78  AR_9               87 non-null     float64
 79  AR_10              87 non-null     float64
 80  AR_11              87 non-null     float64
 81  AR_12              87 non-null     float64
dtypes: bool(5), datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 53.4+ KB
None

## 0002

In [ ]:
feature_df = df_0002

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 397 to 492
Data columns (total 77 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   POILBREUSDM_1      96 non-null     float64
 7   PPOILUSDM_1        96 non-null     float64
 8   WPU0652013A_1      96 non-null     float64
 9   Electricity_1      96 non-null     float64
 10  PNGASEUUSDM_2      96 non-null     float64
 11  POILBREUSDM_2      96 non-null     float64
 12  PPOILUSDM_2        96 non-null     float64
 13  WPU0652013A_2      96 non-null     float64
 14  Electricity_2      96 non-null     float64
 15  PNGASEUUSDM_3      96 non-null     float64
 16  POILBREUSDM_3      96 non-null     float64
 17  PPOILUSDM_3        96 non-null     float64
 18  WPU0652013A_3      96 non-null     float64
 19  Electricity_3      96 non-null     float64
 20  PNGASEUUSDM_4      96 non-null     float64
 21  POILBREUSDM_4      96 non-null     float64
 22  PPOILUSDM_4        96 non-null     float64
 23  WPU0652013A_4      96 non-null     float64
 24  Electricity_4      96 non-null     float64
 25  PNGASEUUSDM_5      96 non-null     float64
 26  POILBREUSDM_5      96 non-null     float64
 27  PPOILUSDM_5        96 non-null     float64
 28  WPU0652013A_5      96 non-null     float64
 29  Electricity_5      96 non-null     float64
 30  PNGASEUUSDM_6      96 non-null     float64
 31  POILBREUSDM_6      96 non-null     float64
 32  PPOILUSDM_6        96 non-null     float64
 33  WPU0652013A_6      96 non-null     float64
 34  Electricity_6      96 non-null     float64
 35  PNGASEUUSDM_7      96 non-null     float64
 36  POILBREUSDM_7      96 non-null     float64
 37  PPOILUSDM_7        96 non-null     float64
 38  WPU0652013A_7      96 non-null     float64
 39  Electricity_7      96 non-null     float64
 40  PNGASEUUSDM_8      96 non-null     float64
 41  POILBREUSDM_8      96 non-null     float64
 42  PPOILUSDM_8        96 non-null     float64
 43  WPU0652013A_8      96 non-null     float64
 44  Electricity_8      96 non-null     float64
 45  PNGASEUUSDM_9      96 non-null     float64
 46  POILBREUSDM_9      96 non-null     float64
 47  PPOILUSDM_9        96 non-null     float64
 48  WPU0652013A_9      96 non-null     float64
 49  Electricity_9      96 non-null     float64
 50  PNGASEUUSDM_10     96 non-null     float64
 51  POILBREUSDM_10     96 non-null     float64
 52  PPOILUSDM_10       96 non-null     float64
 53  WPU0652013A_10     96 non-null     float64
 54  Electricity_10     96 non-null     float64
 55  PNGASEUUSDM_11     96 non-null     float64
 56  POILBREUSDM_11     96 non-null     float64
 57  PPOILUSDM_11       96 non-null     float64
 58  WPU0652013A_11     96 non-null     float64
 59  Electricity_11     96 non-null     float64
 60  PNGASEUUSDM_12     96 non-null     float64
 61  POILBREUSDM_12     96 non-null     float64
 62  PPOILUSDM_12       96 non-null     float64
 63  WPU0652013A_12     96 non-null     float64
 64  Electricity_12     96 non-null     float64
 65  AR_1               96 non-null     float64
 66  AR_2               96 non-null     float64
 67  AR_3               96 non-null     float64
 68  AR_4               96 non-null     float64
 69  AR_5               96 non-null     float64
 70  AR_6               96 non-null     float64
 71  AR_7               96 non-null     float64
 72  AR_8               96 non-null     float64
 73  AR_9               96 non-null     float64
 74  AR_10              96 non-null     float64
 75  AR_11              96 non-null     float64
 76  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 58.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.5
MAPE from 2019-07-01 to 2020-01-01: 10.6
MAPE from 2020-01-01 to 2020-07-01: 9.6
MAPE from 2020-07-01 to 2021-01-01: 9.3
MAPE from 2021-01-01 to 2021-07-01: 23.4
MAPE from 2021-07-01 to 2022-01-01: 20.0
MAPE from 2022-01-01 to 2022-07-01: 10.8
MAPE from 2022-07-01 to 2023-01-01: 6.6
MAPE from 2023-01-01 to 2023-07-01: 14.0
MAPE from 2023-07-01 to 2024-01-01: 7.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.8

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.5
MAPE from 2019-07-01 to 2020-01-01: 10.6
MAPE from 2020-01-01 to 2020-07-01: 9.8
MAPE from 2020-07-01 to 2021-01-01: 9.4
MAPE from 2021-01-01 to 2021-07-01: 23.0
MAPE from 2021-07-01 to 2022-01-01: 25.7
MAPE from 2022-01-01 to 2022-07-01: 11.2
MAPE from 2022-07-01 to 2023-01-01: 9.0
MAPE from 2023-01-01 to 2023-07-01: 12.7
MAPE from 2023-07-01 to 2024-01-01: 8.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.6

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 6.1
MAPE from 2019-07-01 to 2020-01-01: 10.1
MAPE from 2020-01-01 to 2020-07-01: 10.1
MAPE from 2020-07-01 to 2021-01-01: 9.8
MAPE from 2021-01-01 to 2021-07-01: 23.5
MAPE from 2021-07-01 to 2022-01-01: 28.0
MAPE from 2022-01-01 to 2022-07-01: 18.9
MAPE from 2022-07-01 to 2023-01-01: 4.0
MAPE from 2023-01-01 to 2023-07-01: 11.7
MAPE from 2023-07-01 to 2024-01-01: 8.7

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.1

## 0003

In [ ]:
feature_df = df_0003

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 3 to 193
Data columns (total 77 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   POILBREUSDM_1      96 non-null     float64
 7   PPOILUSDM_1        96 non-null     float64
 8   WPU0652013A_1      96 non-null     float64
 9   Electricity_1      96 non-null     float64
 10  PNGASEUUSDM_2      96 non-null     float64
 11  POILBREUSDM_2      96 non-null     float64
 12  PPOILUSDM_2        96 non-null     float64
 13  WPU0652013A_2      96 non-null     float64
 14  Electricity_2      96 non-null     float64
 15  PNGASEUUSDM_3      96 non-null     float64
 16  POILBREUSDM_3      96 non-null     float64
 17  PPOILUSDM_3        96 non-null     float64
 18  WPU0652013A_3      96 non-null     float64
 19  Electricity_3      96 non-null     float64
 20  PNGASEUUSDM_4      96 non-null     float64
 21  POILBREUSDM_4      96 non-null     float64
 22  PPOILUSDM_4        96 non-null     float64
 23  WPU0652013A_4      96 non-null     float64
 24  Electricity_4      96 non-null     float64
 25  PNGASEUUSDM_5      96 non-null     float64
 26  POILBREUSDM_5      96 non-null     float64
 27  PPOILUSDM_5        96 non-null     float64
 28  WPU0652013A_5      96 non-null     float64
 29  Electricity_5      96 non-null     float64
 30  PNGASEUUSDM_6      96 non-null     float64
 31  POILBREUSDM_6      96 non-null     float64
 32  PPOILUSDM_6        96 non-null     float64
 33  WPU0652013A_6      96 non-null     float64
 34  Electricity_6      96 non-null     float64
 35  PNGASEUUSDM_7      96 non-null     float64
 36  POILBREUSDM_7      96 non-null     float64
 37  PPOILUSDM_7        96 non-null     float64
 38  WPU0652013A_7      96 non-null     float64
 39  Electricity_7      96 non-null     float64
 40  PNGASEUUSDM_8      96 non-null     float64
 41  POILBREUSDM_8      96 non-null     float64
 42  PPOILUSDM_8        96 non-null     float64
 43  WPU0652013A_8      96 non-null     float64
 44  Electricity_8      96 non-null     float64
 45  PNGASEUUSDM_9      96 non-null     float64
 46  POILBREUSDM_9      96 non-null     float64
 47  PPOILUSDM_9        96 non-null     float64
 48  WPU0652013A_9      96 non-null     float64
 49  Electricity_9      96 non-null     float64
 50  PNGASEUUSDM_10     96 non-null     float64
 51  POILBREUSDM_10     96 non-null     float64
 52  PPOILUSDM_10       96 non-null     float64
 53  WPU0652013A_10     96 non-null     float64
 54  Electricity_10     96 non-null     float64
 55  PNGASEUUSDM_11     96 non-null     float64
 56  POILBREUSDM_11     96 non-null     float64
 57  PPOILUSDM_11       96 non-null     float64
 58  WPU0652013A_11     96 non-null     float64
 59  Electricity_11     96 non-null     float64
 60  PNGASEUUSDM_12     96 non-null     float64
 61  POILBREUSDM_12     96 non-null     float64
 62  PPOILUSDM_12       96 non-null     float64
 63  WPU0652013A_12     96 non-null     float64
 64  Electricity_12     96 non-null     float64
 65  AR_1               96 non-null     float64
 66  AR_2               96 non-null     float64
 67  AR_3               96 non-null     float64
 68  AR_4               96 non-null     float64
 69  AR_5               96 non-null     float64
 70  AR_6               96 non-null     float64
 71  AR_7               96 non-null     float64
 72  AR_8               96 non-null     float64
 73  AR_9               96 non-null     float64
 74  AR_10              96 non-null     float64
 75  AR_11              96 non-null     float64
 76  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 58.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 8.0
MAPE from 2019-07-01 to 2020-01-01: 6.7
MAPE from 2020-01-01 to 2020-07-01: 9.4
MAPE from 2020-07-01 to 2021-01-01: 11.3
MAPE from 2021-01-01 to 2021-07-01: 7.0
MAPE from 2021-07-01 to 2022-01-01: 7.2
MAPE from 2022-01-01 to 2022-07-01: 26.3
MAPE from 2022-07-01 to 2023-01-01: 5.1
MAPE from 2023-01-01 to 2023-07-01: 6.0
MAPE from 2023-07-01 to 2024-01-01: 5.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 9.2

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 7.2
MAPE from 2019-07-01 to 2020-01-01: 6.4
MAPE from 2020-01-01 to 2020-07-01: 10.8
MAPE from 2020-07-01 to 2021-01-01: 10.6
MAPE from 2021-01-01 to 2021-07-01: 7.2
MAPE from 2021-07-01 to 2022-01-01: 7.3
MAPE from 2022-01-01 to 2022-07-01: 27.2
MAPE from 2022-07-01 to 2023-01-01: 6.1
MAPE from 2023-01-01 to 2023-07-01: 7.4
MAPE from 2023-07-01 to 2024-01-01: 6.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 9.7

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 7.3
MAPE from 2019-07-01 to 2020-01-01: 7.4
MAPE from 2020-01-01 to 2020-07-01: 10.9
MAPE from 2020-07-01 to 2021-01-01: 12.6
MAPE from 2021-01-01 to 2021-07-01: 7.5
MAPE from 2021-07-01 to 2022-01-01: 7.9
MAPE from 2022-01-01 to 2022-07-01: 34.4
MAPE from 2022-07-01 to 2023-01-01: 6.2
MAPE from 2023-01-01 to 2023-07-01: 11.3
MAPE from 2023-07-01 to 2024-01-01: 6.6

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.2

## 0005

In [ ]:
feature_df = df_0005

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 2 to 192
Data columns (total 77 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   POILBREUSDM_1      96 non-null     float64
 7   PPOILUSDM_1        96 non-null     float64
 8   WPU0652013A_1      96 non-null     float64
 9   Electricity_1      96 non-null     float64
 10  PNGASEUUSDM_2      96 non-null     float64
 11  POILBREUSDM_2      96 non-null     float64
 12  PPOILUSDM_2        96 non-null     float64
 13  WPU0652013A_2      96 non-null     float64
 14  Electricity_2      96 non-null     float64
 15  PNGASEUUSDM_3      96 non-null     float64
 16  POILBREUSDM_3      96 non-null     float64
 17  PPOILUSDM_3        96 non-null     float64
 18  WPU0652013A_3      96 non-null     float64
 19  Electricity_3      96 non-null     float64
 20  PNGASEUUSDM_4      96 non-null     float64
 21  POILBREUSDM_4      96 non-null     float64
 22  PPOILUSDM_4        96 non-null     float64
 23  WPU0652013A_4      96 non-null     float64
 24  Electricity_4      96 non-null     float64
 25  PNGASEUUSDM_5      96 non-null     float64
 26  POILBREUSDM_5      96 non-null     float64
 27  PPOILUSDM_5        96 non-null     float64
 28  WPU0652013A_5      96 non-null     float64
 29  Electricity_5      96 non-null     float64
 30  PNGASEUUSDM_6      96 non-null     float64
 31  POILBREUSDM_6      96 non-null     float64
 32  PPOILUSDM_6        96 non-null     float64
 33  WPU0652013A_6      96 non-null     float64
 34  Electricity_6      96 non-null     float64
 35  PNGASEUUSDM_7      96 non-null     float64
 36  POILBREUSDM_7      96 non-null     float64
 37  PPOILUSDM_7        96 non-null     float64
 38  WPU0652013A_7      96 non-null     float64
 39  Electricity_7      96 non-null     float64
 40  PNGASEUUSDM_8      96 non-null     float64
 41  POILBREUSDM_8      96 non-null     float64
 42  PPOILUSDM_8        96 non-null     float64
 43  WPU0652013A_8      96 non-null     float64
 44  Electricity_8      96 non-null     float64
 45  PNGASEUUSDM_9      96 non-null     float64
 46  POILBREUSDM_9      96 non-null     float64
 47  PPOILUSDM_9        96 non-null     float64
 48  WPU0652013A_9      96 non-null     float64
 49  Electricity_9      96 non-null     float64
 50  PNGASEUUSDM_10     96 non-null     float64
 51  POILBREUSDM_10     96 non-null     float64
 52  PPOILUSDM_10       96 non-null     float64
 53  WPU0652013A_10     96 non-null     float64
 54  Electricity_10     96 non-null     float64
 55  PNGASEUUSDM_11     96 non-null     float64
 56  POILBREUSDM_11     96 non-null     float64
 57  PPOILUSDM_11       96 non-null     float64
 58  WPU0652013A_11     96 non-null     float64
 59  Electricity_11     96 non-null     float64
 60  PNGASEUUSDM_12     96 non-null     float64
 61  POILBREUSDM_12     96 non-null     float64
 62  PPOILUSDM_12       96 non-null     float64
 63  WPU0652013A_12     96 non-null     float64
 64  Electricity_12     96 non-null     float64
 65  AR_1               96 non-null     float64
 66  AR_2               96 non-null     float64
 67  AR_3               96 non-null     float64
 68  AR_4               96 non-null     float64
 69  AR_5               96 non-null     float64
 70  AR_6               96 non-null     float64
 71  AR_7               96 non-null     float64
 72  AR_8               96 non-null     float64
 73  AR_9               96 non-null     float64
 74  AR_10              96 non-null     float64
 75  AR_11              96 non-null     float64
 76  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 58.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 8.4
MAPE from 2019-07-01 to 2020-01-01: 9.6
MAPE from 2020-01-01 to 2020-07-01: 7.2
MAPE from 2020-07-01 to 2021-01-01: 13.2
MAPE from 2021-01-01 to 2021-07-01: 8.6
MAPE from 2021-07-01 to 2022-01-01: 5.7
MAPE from 2022-01-01 to 2022-07-01: 21.9
MAPE from 2022-07-01 to 2023-01-01: 6.2
MAPE from 2023-01-01 to 2023-07-01: 21.1
MAPE from 2023-07-01 to 2024-01-01: 4.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.6

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 8.4
MAPE from 2019-07-01 to 2020-01-01: 9.6
MAPE from 2020-01-01 to 2020-07-01: 7.2
MAPE from 2020-07-01 to 2021-01-01: 13.1
MAPE from 2021-01-01 to 2021-07-01: 8.6
MAPE from 2021-07-01 to 2022-01-01: 5.9
MAPE from 2022-01-01 to 2022-07-01: 21.9
MAPE from 2022-07-01 to 2023-01-01: 5.1
MAPE from 2023-01-01 to 2023-07-01: 23.2
MAPE from 2023-07-01 to 2024-01-01: 4.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.7

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 8.9
MAPE from 2019-07-01 to 2020-01-01: 11.7
MAPE from 2020-01-01 to 2020-07-01: 7.2
MAPE from 2020-07-01 to 2021-01-01: 13.6
MAPE from 2021-01-01 to 2021-07-01: 8.6
MAPE from 2021-07-01 to 2022-01-01: 5.6
MAPE from 2022-01-01 to 2022-07-01: 21.9
MAPE from 2022-07-01 to 2023-01-01: 3.7
MAPE from 2023-01-01 to 2023-07-01: 25.4
MAPE from 2023-07-01 to 2024-01-01: 5.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.2

## 0008

In [ ]:
feature_df = df_0008

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 299 to 394
Data columns (total 77 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               94 non-null     int64
 1   Month              94 non-null     int64
 2   Time               94 non-null     datetime64[ns]
 3   Group Description  94 non-null     object
 4   Average_price      94 non-null     float64
 5   PNGASEUUSDM_1      94 non-null     float64
 6   POILBREUSDM_1      94 non-null     float64
 7   PPOILUSDM_1        94 non-null     float64
 8   WPU0652013A_1      94 non-null     float64
 9   Electricity_1      94 non-null     float64
 10  PNGASEUUSDM_2      94 non-null     float64
 11  POILBREUSDM_2      94 non-null     float64
 12  PPOILUSDM_2        94 non-null     float64
 13  WPU0652013A_2      94 non-null     float64
 14  Electricity_2      94 non-null     float64
 15  PNGASEUUSDM_3      94 non-null     float64
 16  POILBREUSDM_3      94 non-null     float64
 17  PPOILUSDM_3        94 non-null     float64
 18  WPU0652013A_3      94 non-null     float64
 19  Electricity_3      94 non-null     float64
 20  PNGASEUUSDM_4      94 non-null     float64
 21  POILBREUSDM_4      94 non-null     float64
 22  PPOILUSDM_4        94 non-null     float64
 23  WPU0652013A_4      94 non-null     float64
 24  Electricity_4      94 non-null     float64
 25  PNGASEUUSDM_5      94 non-null     float64
 26  POILBREUSDM_5      94 non-null     float64
 27  PPOILUSDM_5        94 non-null     float64
 28  WPU0652013A_5      94 non-null     float64
 29  Electricity_5      94 non-null     float64
 30  PNGASEUUSDM_6      94 non-null     float64
 31  POILBREUSDM_6      94 non-null     float64
 32  PPOILUSDM_6        94 non-null     float64
 33  WPU0652013A_6      94 non-null     float64
 34  Electricity_6      94 non-null     float64
 35  PNGASEUUSDM_7      94 non-null     float64
 36  POILBREUSDM_7      94 non-null     float64
 37  PPOILUSDM_7        94 non-null     float64
 38  WPU0652013A_7      94 non-null     float64
 39  Electricity_7      94 non-null     float64
 40  PNGASEUUSDM_8      94 non-null     float64
 41  POILBREUSDM_8      94 non-null     float64
 42  PPOILUSDM_8        94 non-null     float64
 43  WPU0652013A_8      94 non-null     float64
 44  Electricity_8      94 non-null     float64
 45  PNGASEUUSDM_9      94 non-null     float64
 46  POILBREUSDM_9      94 non-null     float64
 47  PPOILUSDM_9        94 non-null     float64
 48  WPU0652013A_9      94 non-null     float64
 49  Electricity_9      94 non-null     float64
 50  PNGASEUUSDM_10     94 non-null     float64
 51  POILBREUSDM_10     94 non-null     float64
 52  PPOILUSDM_10       94 non-null     float64
 53  WPU0652013A_10     94 non-null     float64
 54  Electricity_10     94 non-null     float64
 55  PNGASEUUSDM_11     94 non-null     float64
 56  POILBREUSDM_11     94 non-null     float64
 57  PPOILUSDM_11       94 non-null     float64
 58  WPU0652013A_11     94 non-null     float64
 59  Electricity_11     94 non-null     float64
 60  PNGASEUUSDM_12     94 non-null     float64
 61  POILBREUSDM_12     94 non-null     float64
 62  PPOILUSDM_12       94 non-null     float64
 63  WPU0652013A_12     94 non-null     float64
 64  Electricity_12     94 non-null     float64
 65  AR_1               94 non-null     float64
 66  AR_2               94 non-null     float64
 67  AR_3               94 non-null     float64
 68  AR_4               94 non-null     float64
 69  AR_5               94 non-null     float64
 70  AR_6               94 non-null     float64
 71  AR_7               94 non-null     float64
 72  AR_8               94 non-null     float64
 73  AR_9               94 non-null     float64
 74  AR_10              94 non-null     float64
 75  AR_11              94 non-null     float64
 76  AR_12              94 non-null     float64
dtypes: datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 57.3+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 17.8
MAPE from 2019-07-01 to 2020-01-01: 13.7
MAPE from 2020-01-01 to 2020-07-01: 15.6
MAPE from 2020-07-01 to 2021-01-01: 18.3
MAPE from 2021-01-01 to 2021-07-01: 14.9
MAPE from 2021-07-01 to 2022-01-01: 12.1
MAPE from 2022-01-01 to 2022-07-01: 7.3
MAPE from 2022-07-01 to 2023-01-01: 4.8
MAPE from 2023-01-01 to 2023-07-01: 3.7
MAPE from 2023-07-01 to 2024-01-01: 7.4

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.6

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 17.8
MAPE from 2019-07-01 to 2020-01-01: 13.4
MAPE from 2020-01-01 to 2020-07-01: 15.6
MAPE from 2020-07-01 to 2021-01-01: 18.3
MAPE from 2021-01-01 to 2021-07-01: 14.9
MAPE from 2021-07-01 to 2022-01-01: 12.1
MAPE from 2022-01-01 to 2022-07-01: 7.3
MAPE from 2022-07-01 to 2023-01-01: 4.5
MAPE from 2023-01-01 to 2023-07-01: 3.8
MAPE from 2023-07-01 to 2024-01-01: 7.7

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.5

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 17.8
MAPE from 2019-07-01 to 2020-01-01: 13.9
MAPE from 2020-01-01 to 2020-07-01: 15.7
MAPE from 2020-07-01 to 2021-01-01: 18.9
MAPE from 2021-01-01 to 2021-07-01: 14.9
MAPE from 2021-07-01 to 2022-01-01: 12.1
MAPE from 2022-01-01 to 2022-07-01: 13.5
MAPE from 2022-07-01 to 2023-01-01: 7.0
MAPE from 2023-01-01 to 2023-07-01: 4.7
MAPE from 2023-07-01 to 2024-01-01: 7.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.6

## 0012

In [ ]:
feature_df = df_0012

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 202 to 297
Data columns (total 77 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               87 non-null     int64
 1   Month              87 non-null     int64
 2   Time               87 non-null     datetime64[ns]
 3   Group Description  87 non-null     object
 4   Average_price      87 non-null     float64
 5   PNGASEUUSDM_1      87 non-null     float64
 6   POILBREUSDM_1      87 non-null     float64
 7   PPOILUSDM_1        87 non-null     float64
 8   WPU0652013A_1      87 non-null     float64
 9   Electricity_1      87 non-null     float64
 10  PNGASEUUSDM_2      87 non-null     float64
 11  POILBREUSDM_2      87 non-null     float64
 12  PPOILUSDM_2        87 non-null     float64
 13  WPU0652013A_2      87 non-null     float64
 14  Electricity_2      87 non-null     float64
 15  PNGASEUUSDM_3      87 non-null     float64
 16  POILBREUSDM_3      87 non-null     float64
 17  PPOILUSDM_3        87 non-null     float64
 18  WPU0652013A_3      87 non-null     float64
 19  Electricity_3      87 non-null     float64
 20  PNGASEUUSDM_4      87 non-null     float64
 21  POILBREUSDM_4      87 non-null     float64
 22  PPOILUSDM_4        87 non-null     float64
 23  WPU0652013A_4      87 non-null     float64
 24  Electricity_4      87 non-null     float64
 25  PNGASEUUSDM_5      87 non-null     float64
 26  POILBREUSDM_5      87 non-null     float64
 27  PPOILUSDM_5        87 non-null     float64
 28  WPU0652013A_5      87 non-null     float64
 29  Electricity_5      87 non-null     float64
 30  PNGASEUUSDM_6      87 non-null     float64
 31  POILBREUSDM_6      87 non-null     float64
 32  PPOILUSDM_6        87 non-null     float64
 33  WPU0652013A_6      87 non-null     float64
 34  Electricity_6      87 non-null     float64
 35  PNGASEUUSDM_7      87 non-null     float64
 36  POILBREUSDM_7      87 non-null     float64
 37  PPOILUSDM_7        87 non-null     float64
 38  WPU0652013A_7      87 non-null     float64
 39  Electricity_7      87 non-null     float64
 40  PNGASEUUSDM_8      87 non-null     float64
 41  POILBREUSDM_8      87 non-null     float64
 42  PPOILUSDM_8        87 non-null     float64
 43  WPU0652013A_8      87 non-null     float64
 44  Electricity_8      87 non-null     float64
 45  PNGASEUUSDM_9      87 non-null     float64
 46  POILBREUSDM_9      87 non-null     float64
 47  PPOILUSDM_9        87 non-null     float64
 48  WPU0652013A_9      87 non-null     float64
 49  Electricity_9      87 non-null     float64
 50  PNGASEUUSDM_10     87 non-null     float64
 51  POILBREUSDM_10     87 non-null     float64
 52  PPOILUSDM_10       87 non-null     float64
 53  WPU0652013A_10     87 non-null     float64
 54  Electricity_10     87 non-null     float64
 55  PNGASEUUSDM_11     87 non-null     float64
 56  POILBREUSDM_11     87 non-null     float64
 57  PPOILUSDM_11       87 non-null     float64
 58  WPU0652013A_11     87 non-null     float64
 59  Electricity_11     87 non-null     float64
 60  PNGASEUUSDM_12     87 non-null     float64
 61  POILBREUSDM_12     87 non-null     float64
 62  PPOILUSDM_12       87 non-null     float64
 63  WPU0652013A_12     87 non-null     float64
 64  Electricity_12     87 non-null     float64
 65  AR_1               87 non-null     float64
 66  AR_2               87 non-null     float64
 67  AR_3               87 non-null     float64
 68  AR_4               87 non-null     float64
 69  AR_5               87 non-null     float64
 70  AR_6               87 non-null     float64
 71  AR_7               87 non-null     float64
 72  AR_8               87 non-null     float64
 73  AR_9               87 non-null     float64
 74  AR_10              87 non-null     float64
 75  AR_11              87 non-null     float64
 76  AR_12              87 non-null     float64
dtypes: datetime64[ns](1), float64(73), int64(2), object(1)
memory usage: 53.0+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 4.9
MAPE from 2019-07-01 to 2020-01-01: 6.7
MAPE from 2020-01-01 to 2020-07-01: 4.6
MAPE from 2020-07-01 to 2021-01-01: 11.8
MAPE from 2021-01-01 to 2021-07-01: 7.2
MAPE from 2021-07-01 to 2022-01-01: 2.8
MAPE from 2022-01-01 to 2022-07-01: 33.8
MAPE from 2022-07-01 to 2023-01-01: 28.2
MAPE from 2023-01-01 to 2023-07-01: 13.4
MAPE from 2023-07-01 to 2024-01-01: 15.8

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.9

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.0
MAPE from 2019-07-01 to 2020-01-01: 6.6
MAPE from 2020-01-01 to 2020-07-01: 4.6
MAPE from 2020-07-01 to 2021-01-01: 12.5
MAPE from 2021-01-01 to 2021-07-01: 7.5
MAPE from 2021-07-01 to 2022-01-01: 2.8
MAPE from 2022-01-01 to 2022-07-01: 35.4
MAPE from 2022-07-01 to 2023-01-01: 28.2
MAPE from 2023-01-01 to 2023-07-01: 13.4
MAPE from 2023-07-01 to 2024-01-01: 16.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.2

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.2
MAPE from 2019-07-01 to 2020-01-01: 6.1
MAPE from 2020-01-01 to 2020-07-01: 4.6
MAPE from 2020-07-01 to 2021-01-01: 12.5
MAPE from 2021-01-01 to 2021-07-01: 7.0
MAPE from 2021-07-01 to 2022-01-01: 2.8
MAPE from 2022-01-01 to 2022-07-01: 35.4
MAPE from 2022-07-01 to 2023-01-01: 35.5
MAPE from 2023-01-01 to 2023-07-01: 14.1
MAPE from 2023-07-01 to 2024-01-01: 12.9

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.6

# Builder

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/builder_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM20/0001  RM20/0015  RM20/0020  Year  Month       Time  \
14       False      False       True  2016      1 2016-01-31
15       False      False       True  2016      2 2016-02-29
16       False      False       True  2016      3 2016-03-31
17       False      False       True  2016      4 2016-04-30
18       False      False       True  2016      5 2016-05-31
..         ...        ...        ...   ...    ...        ...
323       True      False      False  2023      8 2023-08-25
324       True      False      False  2023      9 2023-09-30
325       True      False      False  2023     10 2023-10-31
326       True      False      False  2023     11 2023-11-30
327       True      False      False  2023     12 2023-12-29

    Group Description  Average_price  WPU01130232_1  PMAIZMTUSDM_1  ...  \
14            builder       0.725000        142.400     164.004402  ...
15            builder       0.806851        150.600     161.098877  ...
16            builder       0.761667        150.600     159.716845  ...
17            builder       0.663333        150.600     159.226532  ...
18            builder       0.640000        150.600     164.465402  ...
..                ...            ...            ...            ...  ...
323           builder       1.844731        122.242     235.271947  ...
324           builder       1.668692        116.042     207.675889  ...
325           builder       1.707587        116.484     223.847666  ...
326           builder       1.789516        128.222     221.902519  ...
327           builder       1.527896        131.765     209.040297  ...

         AR_3      AR_4      AR_5      AR_6      AR_7      AR_8      AR_9  \
14   0.815000  0.767500  0.777500  0.803750  0.735000  0.760000  0.790000
15   0.750000  0.815000  0.767500  0.777500  0.803750  0.735000  0.760000
16   0.880000  0.750000  0.815000  0.767500  0.777500  0.803750  0.735000
17   0.725000  0.880000  0.750000  0.815000  0.767500  0.777500  0.803750
18   0.806851  0.725000  0.880000  0.750000  0.815000  0.767500  0.777500
..        ...       ...       ...       ...       ...       ...       ...
323  1.894310  1.989148  2.567967  2.110606  2.076072  2.865824  2.174664
324  1.827170  1.894310  1.989148  2.567967  2.110606  2.076072  2.865824
325  1.754934  1.827170  1.894310  1.989148  2.567967  2.110606  2.076072
326  1.844731  1.754934  1.827170  1.894310  1.989148  2.567967  2.110606
327  1.668692  1.844731  1.754934  1.827170  1.894310  1.989148  2.567967

        AR_10     AR_11     AR_12
14   0.865000  0.800000  0.830000
15   0.790000  0.865000  0.800000
16   0.760000  0.790000  0.865000
17   0.735000  0.760000  0.790000
18   0.803750  0.735000  0.760000
..        ...       ...       ...
323  2.512190  2.332090  2.747803
324  2.174664  2.512190  2.332090
325  2.865824  2.174664  2.512190
326  2.076072  2.865824  2.174664
327  2.110606  2.076072  2.865824

[282 rows x 68 columns]

In [ ]:
df_0001 = feature_df[feature_df['RM20/0001'] == 1]
print(df_0001.info())

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 232 to 327
Data columns (total 68 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM20/0001          94 non-null     bool
 1   RM20/0015          94 non-null     bool
 2   RM20/0020          94 non-null     bool
 3   Year               94 non-null     int64
 4   Month              94 non-null     int64
 5   Time               94 non-null     datetime64[ns]
 6   Group Description  94 non-null     object
 7   Average_price      94 non-null     float64
 8   WPU01130232_1      94 non-null     float64
 9   PMAIZMTUSDM_1      94 non-null     float64
 10  WPU07110224_1      94 non-null     float64
 11  WPU065202_1        94 non-null     float64
 12  WPU01130232_2      94 non-null     float64
 13  PMAIZMTUSDM_2      94 non-null     float64
 14  WPU07110224_2      94 non-null     float64
 15  WPU065202_2        94 non-null     float64
 16  WPU01130232_3      94 non-null     float64
 17  PMAIZMTUSDM_3      94 non-null     float64
 18  WPU07110224_3      94 non-null     float64
 19  WPU065202_3        94 non-null     float64
 20  WPU01130232_4      94 non-null     float64
 21  PMAIZMTUSDM_4      94 non-null     float64
 22  WPU07110224_4      94 non-null     float64
 23  WPU065202_4        94 non-null     float64
 24  WPU01130232_5      94 non-null     float64
 25  PMAIZMTUSDM_5      94 non-null     float64
 26  WPU07110224_5      94 non-null     float64
 27  WPU065202_5        94 non-null     float64
 28  WPU01130232_6      94 non-null     float64
 29  PMAIZMTUSDM_6      94 non-null     float64
 30  WPU07110224_6      94 non-null     float64
 31  WPU065202_6        94 non-null     float64
 32  WPU01130232_7      94 non-null     float64
 33  PMAIZMTUSDM_7      94 non-null     float64
 34  WPU07110224_7      94 non-null     float64
 35  WPU065202_7        94 non-null     float64
 36  WPU01130232_8      94 non-null     float64
 37  PMAIZMTUSDM_8      94 non-null     float64
 38  WPU07110224_8      94 non-null     float64
 39  WPU065202_8        94 non-null     float64
 40  WPU01130232_9      94 non-null     float64
 41  PMAIZMTUSDM_9      94 non-null     float64
 42  WPU07110224_9      94 non-null     float64
 43  WPU065202_9        94 non-null     float64
 44  WPU01130232_10     94 non-null     float64
 45  PMAIZMTUSDM_10     94 non-null     float64
 46  WPU07110224_10     94 non-null     float64
 47  WPU065202_10       94 non-null     float64
 48  WPU01130232_11     94 non-null     float64
 49  PMAIZMTUSDM_11     94 non-null     float64
 50  WPU07110224_11     94 non-null     float64
 51  WPU065202_11       94 non-null     float64
 52  WPU01130232_12     94 non-null     float64
 53  PMAIZMTUSDM_12     94 non-null     float64
 54  WPU07110224_12     94 non-null     float64
 55  WPU065202_12       94 non-null     float64
 56  AR_1               94 non-null     float64
 57  AR_2               94 non-null     float64
 58  AR_3               94 non-null     float64
 59  AR_4               94 non-null     float64
 60  AR_5               94 non-null     float64
 61  AR_6               94 non-null     float64
 62  AR_7               94 non-null     float64
 63  AR_8               94 non-null     float64
 64  AR_9               94 non-null     float64
 65  AR_10              94 non-null     float64
 66  AR_11              94 non-null     float64
 67  AR_12              94 non-null     float64
dtypes: bool(3), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 48.7+ KB
None

In [ ]:
df_0015 = feature_df[feature_df['RM20/0015'] == 1]
print(df_0015.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 122 to 217
Data columns (total 68 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM20/0001          93 non-null     bool
 1   RM20/0015          93 non-null     bool
 2   RM20/0020          93 non-null     bool
 3   Year               93 non-null     int64
 4   Month              93 non-null     int64
 5   Time               93 non-null     datetime64[ns]
 6   Group Description  93 non-null     object
 7   Average_price      93 non-null     float64
 8   WPU01130232_1      93 non-null     float64
 9   PMAIZMTUSDM_1      93 non-null     float64
 10  WPU07110224_1      93 non-null     float64
 11  WPU065202_1        93 non-null     float64
 12  WPU01130232_2      93 non-null     float64
 13  PMAIZMTUSDM_2      93 non-null     float64
 14  WPU07110224_2      93 non-null     float64
 15  WPU065202_2        93 non-null     float64
 16  WPU01130232_3      93 non-null     float64
 17  PMAIZMTUSDM_3      93 non-null     float64
 18  WPU07110224_3      93 non-null     float64
 19  WPU065202_3        93 non-null     float64
 20  WPU01130232_4      93 non-null     float64
 21  PMAIZMTUSDM_4      93 non-null     float64
 22  WPU07110224_4      93 non-null     float64
 23  WPU065202_4        93 non-null     float64
 24  WPU01130232_5      93 non-null     float64
 25  PMAIZMTUSDM_5      93 non-null     float64
 26  WPU07110224_5      93 non-null     float64
 27  WPU065202_5        93 non-null     float64
 28  WPU01130232_6      93 non-null     float64
 29  PMAIZMTUSDM_6      93 non-null     float64
 30  WPU07110224_6      93 non-null     float64
 31  WPU065202_6        93 non-null     float64
 32  WPU01130232_7      93 non-null     float64
 33  PMAIZMTUSDM_7      93 non-null     float64
 34  WPU07110224_7      93 non-null     float64
 35  WPU065202_7        93 non-null     float64
 36  WPU01130232_8      93 non-null     float64
 37  PMAIZMTUSDM_8      93 non-null     float64
 38  WPU07110224_8      93 non-null     float64
 39  WPU065202_8        93 non-null     float64
 40  WPU01130232_9      93 non-null     float64
 41  PMAIZMTUSDM_9      93 non-null     float64
 42  WPU07110224_9      93 non-null     float64
 43  WPU065202_9        93 non-null     float64
 44  WPU01130232_10     93 non-null     float64
 45  PMAIZMTUSDM_10     93 non-null     float64
 46  WPU07110224_10     93 non-null     float64
 47  WPU065202_10       93 non-null     float64
 48  WPU01130232_11     93 non-null     float64
 49  PMAIZMTUSDM_11     93 non-null     float64
 50  WPU07110224_11     93 non-null     float64
 51  WPU065202_11       93 non-null     float64
 52  WPU01130232_12     93 non-null     float64
 53  PMAIZMTUSDM_12     93 non-null     float64
 54  WPU07110224_12     93 non-null     float64
 55  WPU065202_12       93 non-null     float64
 56  AR_1               93 non-null     float64
 57  AR_2               93 non-null     float64
 58  AR_3               93 non-null     float64
 59  AR_4               93 non-null     float64
 60  AR_5               93 non-null     float64
 61  AR_6               93 non-null     float64
 62  AR_7               93 non-null     float64
 63  AR_8               93 non-null     float64
 64  AR_9               93 non-null     float64
 65  AR_10              93 non-null     float64
 66  AR_11              93 non-null     float64
 67  AR_12              93 non-null     float64
dtypes: bool(3), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 48.2+ KB
None

In [ ]:
df_0020 = feature_df[feature_df['RM20/0020'] == 1]
print(df_0020.info())

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 14 to 109
Data columns (total 68 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM20/0001          95 non-null     bool
 1   RM20/0015          95 non-null     bool
 2   RM20/0020          95 non-null     bool
 3   Year               95 non-null     int64
 4   Month              95 non-null     int64
 5   Time               95 non-null     datetime64[ns]
 6   Group Description  95 non-null     object
 7   Average_price      95 non-null     float64
 8   WPU01130232_1      95 non-null     float64
 9   PMAIZMTUSDM_1      95 non-null     float64
 10  WPU07110224_1      95 non-null     float64
 11  WPU065202_1        95 non-null     float64
 12  WPU01130232_2      95 non-null     float64
 13  PMAIZMTUSDM_2      95 non-null     float64
 14  WPU07110224_2      95 non-null     float64
 15  WPU065202_2        95 non-null     float64
 16  WPU01130232_3      95 non-null     float64
 17  PMAIZMTUSDM_3      95 non-null     float64
 18  WPU07110224_3      95 non-null     float64
 19  WPU065202_3        95 non-null     float64
 20  WPU01130232_4      95 non-null     float64
 21  PMAIZMTUSDM_4      95 non-null     float64
 22  WPU07110224_4      95 non-null     float64
 23  WPU065202_4        95 non-null     float64
 24  WPU01130232_5      95 non-null     float64
 25  PMAIZMTUSDM_5      95 non-null     float64
 26  WPU07110224_5      95 non-null     float64
 27  WPU065202_5        95 non-null     float64
 28  WPU01130232_6      95 non-null     float64
 29  PMAIZMTUSDM_6      95 non-null     float64
 30  WPU07110224_6      95 non-null     float64
 31  WPU065202_6        95 non-null     float64
 32  WPU01130232_7      95 non-null     float64
 33  PMAIZMTUSDM_7      95 non-null     float64
 34  WPU07110224_7      95 non-null     float64
 35  WPU065202_7        95 non-null     float64
 36  WPU01130232_8      95 non-null     float64
 37  PMAIZMTUSDM_8      95 non-null     float64
 38  WPU07110224_8      95 non-null     float64
 39  WPU065202_8        95 non-null     float64
 40  WPU01130232_9      95 non-null     float64
 41  PMAIZMTUSDM_9      95 non-null     float64
 42  WPU07110224_9      95 non-null     float64
 43  WPU065202_9        95 non-null     float64
 44  WPU01130232_10     95 non-null     float64
 45  PMAIZMTUSDM_10     95 non-null     float64
 46  WPU07110224_10     95 non-null     float64
 47  WPU065202_10       95 non-null     float64
 48  WPU01130232_11     95 non-null     float64
 49  PMAIZMTUSDM_11     95 non-null     float64
 50  WPU07110224_11     95 non-null     float64
 51  WPU065202_11       95 non-null     float64
 52  WPU01130232_12     95 non-null     float64
 53  PMAIZMTUSDM_12     95 non-null     float64
 54  WPU07110224_12     95 non-null     float64
 55  WPU065202_12       95 non-null     float64
 56  AR_1               95 non-null     float64
 57  AR_2               95 non-null     float64
 58  AR_3               95 non-null     float64
 59  AR_4               95 non-null     float64
 60  AR_5               95 non-null     float64
 61  AR_6               95 non-null     float64
 62  AR_7               95 non-null     float64
 63  AR_8               95 non-null     float64
 64  AR_9               95 non-null     float64
 65  AR_10              95 non-null     float64
 66  AR_11              95 non-null     float64
 67  AR_12              95 non-null     float64
dtypes: bool(3), datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.3+ KB
None

## 0001

In [ ]:
feature_df = df_0001

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 232 to 327
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               94 non-null     int64
 1   Month              94 non-null     int64
 2   Time               94 non-null     datetime64[ns]
 3   Group Description  94 non-null     object
 4   Average_price      94 non-null     float64
 5   WPU01130232_1      94 non-null     float64
 6   PMAIZMTUSDM_1      94 non-null     float64
 7   WPU07110224_1      94 non-null     float64
 8   WPU065202_1        94 non-null     float64
 9   WPU01130232_2      94 non-null     float64
 10  PMAIZMTUSDM_2      94 non-null     float64
 11  WPU07110224_2      94 non-null     float64
 12  WPU065202_2        94 non-null     float64
 13  WPU01130232_3      94 non-null     float64
 14  PMAIZMTUSDM_3      94 non-null     float64
 15  WPU07110224_3      94 non-null     float64
 16  WPU065202_3        94 non-null     float64
 17  WPU01130232_4      94 non-null     float64
 18  PMAIZMTUSDM_4      94 non-null     float64
 19  WPU07110224_4      94 non-null     float64
 20  WPU065202_4        94 non-null     float64
 21  WPU01130232_5      94 non-null     float64
 22  PMAIZMTUSDM_5      94 non-null     float64
 23  WPU07110224_5      94 non-null     float64
 24  WPU065202_5        94 non-null     float64
 25  WPU01130232_6      94 non-null     float64
 26  PMAIZMTUSDM_6      94 non-null     float64
 27  WPU07110224_6      94 non-null     float64
 28  WPU065202_6        94 non-null     float64
 29  WPU01130232_7      94 non-null     float64
 30  PMAIZMTUSDM_7      94 non-null     float64
 31  WPU07110224_7      94 non-null     float64
 32  WPU065202_7        94 non-null     float64
 33  WPU01130232_8      94 non-null     float64
 34  PMAIZMTUSDM_8      94 non-null     float64
 35  WPU07110224_8      94 non-null     float64
 36  WPU065202_8        94 non-null     float64
 37  WPU01130232_9      94 non-null     float64
 38  PMAIZMTUSDM_9      94 non-null     float64
 39  WPU07110224_9      94 non-null     float64
 40  WPU065202_9        94 non-null     float64
 41  WPU01130232_10     94 non-null     float64
 42  PMAIZMTUSDM_10     94 non-null     float64
 43  WPU07110224_10     94 non-null     float64
 44  WPU065202_10       94 non-null     float64
 45  WPU01130232_11     94 non-null     float64
 46  PMAIZMTUSDM_11     94 non-null     float64
 47  WPU07110224_11     94 non-null     float64
 48  WPU065202_11       94 non-null     float64
 49  WPU01130232_12     94 non-null     float64
 50  PMAIZMTUSDM_12     94 non-null     float64
 51  WPU07110224_12     94 non-null     float64
 52  WPU065202_12       94 non-null     float64
 53  AR_1               94 non-null     float64
 54  AR_2               94 non-null     float64
 55  AR_3               94 non-null     float64
 56  AR_4               94 non-null     float64
 57  AR_5               94 non-null     float64
 58  AR_6               94 non-null     float64
 59  AR_7               94 non-null     float64
 60  AR_8               94 non-null     float64
 61  AR_9               94 non-null     float64
 62  AR_10              94 non-null     float64
 63  AR_11              94 non-null     float64
 64  AR_12              94 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 48.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 9.7
MAPE from 2019-07-01 to 2020-01-01: 11.0
MAPE from 2020-01-01 to 2020-07-01: 7.0
MAPE from 2020-07-01 to 2021-01-01: 7.6
MAPE from 2021-01-01 to 2021-07-01: 6.4
MAPE from 2021-07-01 to 2022-01-01: 19.3
MAPE from 2022-01-01 to 2022-07-01: 32.7
MAPE from 2022-07-01 to 2023-01-01: 8.8
MAPE from 2023-01-01 to 2023-07-01: 30.2
MAPE from 2023-07-01 to 2024-01-01: 6.1

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.9

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.8
MAPE from 2019-07-01 to 2020-01-01: 13.2
MAPE from 2020-01-01 to 2020-07-01: 7.8
MAPE from 2020-07-01 to 2021-01-01: 6.8
MAPE from 2021-01-01 to 2021-07-01: 4.9
MAPE from 2021-07-01 to 2022-01-01: 25.4
MAPE from 2022-01-01 to 2022-07-01: 54.7
MAPE from 2022-07-01 to 2023-01-01: 13.7
MAPE from 2023-01-01 to 2023-07-01: 30.0
MAPE from 2023-07-01 to 2024-01-01: 6.8

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 17.5

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 12.9
MAPE from 2019-07-01 to 2020-01-01: 9.6
MAPE from 2020-01-01 to 2020-07-01: 11.0
MAPE from 2020-07-01 to 2021-01-01: 7.3
MAPE from 2021-01-01 to 2021-07-01: 5.6
MAPE from 2021-07-01 to 2022-01-01: 27.2
MAPE from 2022-01-01 to 2022-07-01: 58.3
MAPE from 2022-07-01 to 2023-01-01: 13.8
MAPE from 2023-01-01 to 2023-07-01: 37.4
MAPE from 2023-07-01 to 2024-01-01: 9.8

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 19.3

## 0015

In [ ]:
feature_df = df_0015

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 122 to 217
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               93 non-null     int64
 1   Month              93 non-null     int64
 2   Time               93 non-null     datetime64[ns]
 3   Group Description  93 non-null     object
 4   Average_price      93 non-null     float64
 5   WPU01130232_1      93 non-null     float64
 6   PMAIZMTUSDM_1      93 non-null     float64
 7   WPU07110224_1      93 non-null     float64
 8   WPU065202_1        93 non-null     float64
 9   WPU01130232_2      93 non-null     float64
 10  PMAIZMTUSDM_2      93 non-null     float64
 11  WPU07110224_2      93 non-null     float64
 12  WPU065202_2        93 non-null     float64
 13  WPU01130232_3      93 non-null     float64
 14  PMAIZMTUSDM_3      93 non-null     float64
 15  WPU07110224_3      93 non-null     float64
 16  WPU065202_3        93 non-null     float64
 17  WPU01130232_4      93 non-null     float64
 18  PMAIZMTUSDM_4      93 non-null     float64
 19  WPU07110224_4      93 non-null     float64
 20  WPU065202_4        93 non-null     float64
 21  WPU01130232_5      93 non-null     float64
 22  PMAIZMTUSDM_5      93 non-null     float64
 23  WPU07110224_5      93 non-null     float64
 24  WPU065202_5        93 non-null     float64
 25  WPU01130232_6      93 non-null     float64
 26  PMAIZMTUSDM_6      93 non-null     float64
 27  WPU07110224_6      93 non-null     float64
 28  WPU065202_6        93 non-null     float64
 29  WPU01130232_7      93 non-null     float64
 30  PMAIZMTUSDM_7      93 non-null     float64
 31  WPU07110224_7      93 non-null     float64
 32  WPU065202_7        93 non-null     float64
 33  WPU01130232_8      93 non-null     float64
 34  PMAIZMTUSDM_8      93 non-null     float64
 35  WPU07110224_8      93 non-null     float64
 36  WPU065202_8        93 non-null     float64
 37  WPU01130232_9      93 non-null     float64
 38  PMAIZMTUSDM_9      93 non-null     float64
 39  WPU07110224_9      93 non-null     float64
 40  WPU065202_9        93 non-null     float64
 41  WPU01130232_10     93 non-null     float64
 42  PMAIZMTUSDM_10     93 non-null     float64
 43  WPU07110224_10     93 non-null     float64
 44  WPU065202_10       93 non-null     float64
 45  WPU01130232_11     93 non-null     float64
 46  PMAIZMTUSDM_11     93 non-null     float64
 47  WPU07110224_11     93 non-null     float64
 48  WPU065202_11       93 non-null     float64
 49  WPU01130232_12     93 non-null     float64
 50  PMAIZMTUSDM_12     93 non-null     float64
 51  WPU07110224_12     93 non-null     float64
 52  WPU065202_12       93 non-null     float64
 53  AR_1               93 non-null     float64
 54  AR_2               93 non-null     float64
 55  AR_3               93 non-null     float64
 56  AR_4               93 non-null     float64
 57  AR_5               93 non-null     float64
 58  AR_6               93 non-null     float64
 59  AR_7               93 non-null     float64
 60  AR_8               93 non-null     float64
 61  AR_9               93 non-null     float64
 62  AR_10              93 non-null     float64
 63  AR_11              93 non-null     float64
 64  AR_12              93 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 48.0+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.1
MAPE from 2019-07-01 to 2020-01-01: 6.0
MAPE from 2020-01-01 to 2020-07-01: 15.7
MAPE from 2020-07-01 to 2021-01-01: 3.5
MAPE from 2021-01-01 to 2021-07-01: 9.1
MAPE from 2021-07-01 to 2022-01-01: 10.7
MAPE from 2022-01-01 to 2022-07-01: 24.9
MAPE from 2022-07-01 to 2023-01-01: 29.6
MAPE from 2023-01-01 to 2023-07-01: 10.5
MAPE from 2023-07-01 to 2024-01-01: 6.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.1

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.1
MAPE from 2019-07-01 to 2020-01-01: 6.0
MAPE from 2020-01-01 to 2020-07-01: 15.7
MAPE from 2020-07-01 to 2021-01-01: 3.5
MAPE from 2021-01-01 to 2021-07-01: 9.1
MAPE from 2021-07-01 to 2022-01-01: 10.7
MAPE from 2022-01-01 to 2022-07-01: 25.3
MAPE from 2022-07-01 to 2023-01-01: 28.4
MAPE from 2023-01-01 to 2023-07-01: 8.3
MAPE from 2023-07-01 to 2024-01-01: 6.1

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.8

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.1
MAPE from 2019-07-01 to 2020-01-01: 6.0
MAPE from 2020-01-01 to 2020-07-01: 15.7
MAPE from 2020-07-01 to 2021-01-01: 3.5
MAPE from 2021-01-01 to 2021-07-01: 9.1
MAPE from 2021-07-01 to 2022-01-01: 10.7
MAPE from 2022-01-01 to 2022-07-01: 26.3
MAPE from 2022-07-01 to 2023-01-01: 29.1
MAPE from 2023-01-01 to 2023-07-01: 7.7
MAPE from 2023-07-01 to 2024-01-01: 7.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.0

## 0020

In [ ]:
feature_df = df_0020

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 14 to 109
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               95 non-null     int64
 1   Month              95 non-null     int64
 2   Time               95 non-null     datetime64[ns]
 3   Group Description  95 non-null     object
 4   Average_price      95 non-null     float64
 5   WPU01130232_1      95 non-null     float64
 6   PMAIZMTUSDM_1      95 non-null     float64
 7   WPU07110224_1      95 non-null     float64
 8   WPU065202_1        95 non-null     float64
 9   WPU01130232_2      95 non-null     float64
 10  PMAIZMTUSDM_2      95 non-null     float64
 11  WPU07110224_2      95 non-null     float64
 12  WPU065202_2        95 non-null     float64
 13  WPU01130232_3      95 non-null     float64
 14  PMAIZMTUSDM_3      95 non-null     float64
 15  WPU07110224_3      95 non-null     float64
 16  WPU065202_3        95 non-null     float64
 17  WPU01130232_4      95 non-null     float64
 18  PMAIZMTUSDM_4      95 non-null     float64
 19  WPU07110224_4      95 non-null     float64
 20  WPU065202_4        95 non-null     float64
 21  WPU01130232_5      95 non-null     float64
 22  PMAIZMTUSDM_5      95 non-null     float64
 23  WPU07110224_5      95 non-null     float64
 24  WPU065202_5        95 non-null     float64
 25  WPU01130232_6      95 non-null     float64
 26  PMAIZMTUSDM_6      95 non-null     float64
 27  WPU07110224_6      95 non-null     float64
 28  WPU065202_6        95 non-null     float64
 29  WPU01130232_7      95 non-null     float64
 30  PMAIZMTUSDM_7      95 non-null     float64
 31  WPU07110224_7      95 non-null     float64
 32  WPU065202_7        95 non-null     float64
 33  WPU01130232_8      95 non-null     float64
 34  PMAIZMTUSDM_8      95 non-null     float64
 35  WPU07110224_8      95 non-null     float64
 36  WPU065202_8        95 non-null     float64
 37  WPU01130232_9      95 non-null     float64
 38  PMAIZMTUSDM_9      95 non-null     float64
 39  WPU07110224_9      95 non-null     float64
 40  WPU065202_9        95 non-null     float64
 41  WPU01130232_10     95 non-null     float64
 42  PMAIZMTUSDM_10     95 non-null     float64
 43  WPU07110224_10     95 non-null     float64
 44  WPU065202_10       95 non-null     float64
 45  WPU01130232_11     95 non-null     float64
 46  PMAIZMTUSDM_11     95 non-null     float64
 47  WPU07110224_11     95 non-null     float64
 48  WPU065202_11       95 non-null     float64
 49  WPU01130232_12     95 non-null     float64
 50  PMAIZMTUSDM_12     95 non-null     float64
 51  WPU07110224_12     95 non-null     float64
 52  WPU065202_12       95 non-null     float64
 53  AR_1               95 non-null     float64
 54  AR_2               95 non-null     float64
 55  AR_3               95 non-null     float64
 56  AR_4               95 non-null     float64
 57  AR_5               95 non-null     float64
 58  AR_6               95 non-null     float64
 59  AR_7               95 non-null     float64
 60  AR_8               95 non-null     float64
 61  AR_9               95 non-null     float64
 62  AR_10              95 non-null     float64
 63  AR_11              95 non-null     float64
 64  AR_12              95 non-null     float64
dtypes: datetime64[ns](1), float64(61), int64(2), object(1)
memory usage: 49.0+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 9.2
MAPE from 2019-07-01 to 2020-01-01: 10.9
MAPE from 2020-01-01 to 2020-07-01: 8.6
MAPE from 2020-07-01 to 2021-01-01: 10.6
MAPE from 2021-01-01 to 2021-07-01: 10.5
MAPE from 2021-07-01 to 2022-01-01: 9.4
MAPE from 2022-01-01 to 2022-07-01: 16.1
MAPE from 2022-07-01 to 2023-01-01: 8.3
MAPE from 2023-01-01 to 2023-07-01: 9.8
MAPE from 2023-07-01 to 2024-01-01: 13.4

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.7

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 8.9
MAPE from 2019-07-01 to 2020-01-01: 10.9
MAPE from 2020-01-01 to 2020-07-01: 9.1
MAPE from 2020-07-01 to 2021-01-01: 11.6
MAPE from 2021-01-01 to 2021-07-01: 12.1
MAPE from 2021-07-01 to 2022-01-01: 13.6
MAPE from 2022-01-01 to 2022-07-01: 18.2
MAPE from 2022-07-01 to 2023-01-01: 6.1
MAPE from 2023-01-01 to 2023-07-01: 18.5
MAPE from 2023-07-01 to 2024-01-01: 23.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.2

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.1
MAPE from 2019-07-01 to 2020-01-01: 7.1
MAPE from 2020-01-01 to 2020-07-01: 11.5
MAPE from 2020-07-01 to 2021-01-01: 13.2
MAPE from 2021-01-01 to 2021-07-01: 15.2
MAPE from 2021-07-01 to 2022-01-01: 17.8
MAPE from 2022-01-01 to 2022-07-01: 24.6
MAPE from 2022-07-01 to 2023-01-01: 14.2
MAPE from 2023-01-01 to 2023-07-01: 29.0
MAPE from 2023-07-01 to 2024-01-01: 41.8

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 18.6

# Anionic Surfactant

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/anionic surfactant_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM10/0001  RM10/0002  Year  Month       Time   Group Description  \
12       False       True  2016      1 2016-01-31  anionic surfactant
13       False       True  2016      2 2016-02-29  anionic surfactant
14       False       True  2016      3 2016-03-31  anionic surfactant
15       False       True  2016      4 2016-04-30  anionic surfactant
16       False       True  2016      5 2016-05-31  anionic surfactant
..         ...        ...   ...    ...        ...                 ...
216       True      False  2023      8 2023-08-31  anionic surfactant
217       True      False  2023      9 2023-09-30  anionic surfactant
218       True      False  2023     10 2023-10-31  anionic surfactant
219       True      False  2023     11 2023-11-30  anionic surfactant
220       True      False  2023     12 2023-12-31  anionic surfactant

     Average_price  PNGASEUUSDM_1  PPOILUSDM_1  Electricity_1  ...      AR_3  \
12        1.235000       5.810000   520.602568          48.38  ...  1.323333
13        1.090000       5.090000   531.619443          41.42  ...  1.090000
14        1.226667       4.790000   595.900683          38.14  ...  1.090000
15        1.306667       4.090000   633.067783          28.95  ...  1.235000
16        1.082150       4.020000   680.375487          25.25  ...  1.090000
..             ...            ...          ...            ...  ...       ...
216       0.579967       9.611719   844.977017          87.58  ...  0.654619
217       0.589850      10.717421   823.608175          96.46  ...  0.674996
218       0.610671      11.427930   790.712156          89.17  ...  0.519568
219       0.582814      13.388843   767.481335         101.92  ...  0.579967
220       0.720601      13.714316   795.987931         115.07  ...  0.589850

         AR_4      AR_5      AR_6      AR_7      AR_8      AR_9     AR_10  \
12   1.395000  1.383333  1.150000  1.500000  1.310000  1.373333  1.340000
13   1.323333  1.395000  1.383333  1.150000  1.500000  1.310000  1.373333
14   1.090000  1.323333  1.395000  1.383333  1.150000  1.500000  1.310000
15   1.090000  1.090000  1.323333  1.395000  1.383333  1.150000  1.500000
16   1.235000  1.090000  1.090000  1.323333  1.395000  1.383333  1.150000
..        ...       ...       ...       ...       ...       ...       ...
216  0.696542  0.710311  0.887833  0.832846  0.863918  0.819181  0.830000
217  0.654619  0.696542  0.710311  0.887833  0.832846  0.863918  0.819181
218  0.674996  0.654619  0.696542  0.710311  0.887833  0.832846  0.863918
219  0.519568  0.674996  0.654619  0.696542  0.710311  0.887833  0.832846
220  0.579967  0.519568  0.674996  0.654619  0.696542  0.710311  0.887833

        AR_11     AR_12
12   1.500000  1.393333
13   1.340000  1.500000
14   1.373333  1.340000
15   1.310000  1.373333
16   1.500000  1.310000
..        ...       ...
216  0.767987  0.868158
217  0.830000  0.767987
218  0.819181  0.830000
219  0.863918  0.819181
220  0.832846  0.863918

[189 rows x 55 columns]

In [ ]:
df_0001 = feature_df[feature_df['RM10/0001'] == 1]
print(df_0001.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 125 to 220
Data columns (total 55 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM10/0001          93 non-null     bool
 1   RM10/0002          93 non-null     bool
 2   Year               93 non-null     int64
 3   Month              93 non-null     int64
 4   Time               93 non-null     datetime64[ns]
 5   Group Description  93 non-null     object
 6   Average_price      93 non-null     float64
 7   PNGASEUUSDM_1      93 non-null     float64
 8   PPOILUSDM_1        93 non-null     float64
 9   Electricity_1      93 non-null     float64
 10  PNGASEUUSDM_2      93 non-null     float64
 11  PPOILUSDM_2        93 non-null     float64
 12  Electricity_2      93 non-null     float64
 13  PNGASEUUSDM_3      93 non-null     float64
 14  PPOILUSDM_3        93 non-null     float64
 15  Electricity_3      93 non-null     float64
 16  PNGASEUUSDM_4      93 non-null     float64
 17  PPOILUSDM_4        93 non-null     float64
 18  Electricity_4      93 non-null     float64
 19  PNGASEUUSDM_5      93 non-null     float64
 20  PPOILUSDM_5        93 non-null     float64
 21  Electricity_5      93 non-null     float64
 22  PNGASEUUSDM_6      93 non-null     float64
 23  PPOILUSDM_6        93 non-null     float64
 24  Electricity_6      93 non-null     float64
 25  PNGASEUUSDM_7      93 non-null     float64
 26  PPOILUSDM_7        93 non-null     float64
 27  Electricity_7      93 non-null     float64
 28  PNGASEUUSDM_8      93 non-null     float64
 29  PPOILUSDM_8        93 non-null     float64
 30  Electricity_8      93 non-null     float64
 31  PNGASEUUSDM_9      93 non-null     float64
 32  PPOILUSDM_9        93 non-null     float64
 33  Electricity_9      93 non-null     float64
 34  PNGASEUUSDM_10     93 non-null     float64
 35  PPOILUSDM_10       93 non-null     float64
 36  Electricity_10     93 non-null     float64
 37  PNGASEUUSDM_11     93 non-null     float64
 38  PPOILUSDM_11       93 non-null     float64
 39  Electricity_11     93 non-null     float64
 40  PNGASEUUSDM_12     93 non-null     float64
 41  PPOILUSDM_12       93 non-null     float64
 42  Electricity_12     93 non-null     float64
 43  AR_1               93 non-null     float64
 44  AR_2               93 non-null     float64
 45  AR_3               93 non-null     float64
 46  AR_4               93 non-null     float64
 47  AR_5               93 non-null     float64
 48  AR_6               93 non-null     float64
 49  AR_7               93 non-null     float64
 50  AR_8               93 non-null     float64
 51  AR_9               93 non-null     float64
 52  AR_10              93 non-null     float64
 53  AR_11              93 non-null     float64
 54  AR_12              93 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(49), int64(2), object(1)
memory usage: 39.4+ KB
None

In [ ]:
df_0002 = feature_df[feature_df['RM10/0002'] == 1]
print(df_0002.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 12 to 107
Data columns (total 55 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM10/0001          96 non-null     bool
 1   RM10/0002          96 non-null     bool
 2   Year               96 non-null     int64
 3   Month              96 non-null     int64
 4   Time               96 non-null     datetime64[ns]
 5   Group Description  96 non-null     object
 6   Average_price      96 non-null     float64
 7   PNGASEUUSDM_1      96 non-null     float64
 8   PPOILUSDM_1        96 non-null     float64
 9   Electricity_1      96 non-null     float64
 10  PNGASEUUSDM_2      96 non-null     float64
 11  PPOILUSDM_2        96 non-null     float64
 12  Electricity_2      96 non-null     float64
 13  PNGASEUUSDM_3      96 non-null     float64
 14  PPOILUSDM_3        96 non-null     float64
 15  Electricity_3      96 non-null     float64
 16  PNGASEUUSDM_4      96 non-null     float64
 17  PPOILUSDM_4        96 non-null     float64
 18  Electricity_4      96 non-null     float64
 19  PNGASEUUSDM_5      96 non-null     float64
 20  PPOILUSDM_5        96 non-null     float64
 21  Electricity_5      96 non-null     float64
 22  PNGASEUUSDM_6      96 non-null     float64
 23  PPOILUSDM_6        96 non-null     float64
 24  Electricity_6      96 non-null     float64
 25  PNGASEUUSDM_7      96 non-null     float64
 26  PPOILUSDM_7        96 non-null     float64
 27  Electricity_7      96 non-null     float64
 28  PNGASEUUSDM_8      96 non-null     float64
 29  PPOILUSDM_8        96 non-null     float64
 30  Electricity_8      96 non-null     float64
 31  PNGASEUUSDM_9      96 non-null     float64
 32  PPOILUSDM_9        96 non-null     float64
 33  Electricity_9      96 non-null     float64
 34  PNGASEUUSDM_10     96 non-null     float64
 35  PPOILUSDM_10       96 non-null     float64
 36  Electricity_10     96 non-null     float64
 37  PNGASEUUSDM_11     96 non-null     float64
 38  PPOILUSDM_11       96 non-null     float64
 39  Electricity_11     96 non-null     float64
 40  PNGASEUUSDM_12     96 non-null     float64
 41  PPOILUSDM_12       96 non-null     float64
 42  Electricity_12     96 non-null     float64
 43  AR_1               96 non-null     float64
 44  AR_2               96 non-null     float64
 45  AR_3               96 non-null     float64
 46  AR_4               96 non-null     float64
 47  AR_5               96 non-null     float64
 48  AR_6               96 non-null     float64
 49  AR_7               96 non-null     float64
 50  AR_8               96 non-null     float64
 51  AR_9               96 non-null     float64
 52  AR_10              96 non-null     float64
 53  AR_11              96 non-null     float64
 54  AR_12              96 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(49), int64(2), object(1)
memory usage: 40.7+ KB
None

## 0001

In [ ]:
feature_df = df_0001

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 125 to 220
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               93 non-null     int64
 1   Month              93 non-null     int64
 2   Time               93 non-null     datetime64[ns]
 3   Group Description  93 non-null     object
 4   Average_price      93 non-null     float64
 5   PNGASEUUSDM_1      93 non-null     float64
 6   PPOILUSDM_1        93 non-null     float64
 7   Electricity_1      93 non-null     float64
 8   PNGASEUUSDM_2      93 non-null     float64
 9   PPOILUSDM_2        93 non-null     float64
 10  Electricity_2      93 non-null     float64
 11  PNGASEUUSDM_3      93 non-null     float64
 12  PPOILUSDM_3        93 non-null     float64
 13  Electricity_3      93 non-null     float64
 14  PNGASEUUSDM_4      93 non-null     float64
 15  PPOILUSDM_4        93 non-null     float64
 16  Electricity_4      93 non-null     float64
 17  PNGASEUUSDM_5      93 non-null     float64
 18  PPOILUSDM_5        93 non-null     float64
 19  Electricity_5      93 non-null     float64
 20  PNGASEUUSDM_6      93 non-null     float64
 21  PPOILUSDM_6        93 non-null     float64
 22  Electricity_6      93 non-null     float64
 23  PNGASEUUSDM_7      93 non-null     float64
 24  PPOILUSDM_7        93 non-null     float64
 25  Electricity_7      93 non-null     float64
 26  PNGASEUUSDM_8      93 non-null     float64
 27  PPOILUSDM_8        93 non-null     float64
 28  Electricity_8      93 non-null     float64
 29  PNGASEUUSDM_9      93 non-null     float64
 30  PPOILUSDM_9        93 non-null     float64
 31  Electricity_9      93 non-null     float64
 32  PNGASEUUSDM_10     93 non-null     float64
 33  PPOILUSDM_10       93 non-null     float64
 34  Electricity_10     93 non-null     float64
 35  PNGASEUUSDM_11     93 non-null     float64
 36  PPOILUSDM_11       93 non-null     float64
 37  Electricity_11     93 non-null     float64
 38  PNGASEUUSDM_12     93 non-null     float64
 39  PPOILUSDM_12       93 non-null     float64
 40  Electricity_12     93 non-null     float64
 41  AR_1               93 non-null     float64
 42  AR_2               93 non-null     float64
 43  AR_3               93 non-null     float64
 44  AR_4               93 non-null     float64
 45  AR_5               93 non-null     float64
 46  AR_6               93 non-null     float64
 47  AR_7               93 non-null     float64
 48  AR_8               93 non-null     float64
 49  AR_9               93 non-null     float64
 50  AR_10              93 non-null     float64
 51  AR_11              93 non-null     float64
 52  AR_12              93 non-null     float64
dtypes: datetime64[ns](1), float64(49), int64(2), object(1)
memory usage: 39.2+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 15.2
MAPE from 2019-07-01 to 2020-01-01: 12.0
MAPE from 2020-01-01 to 2020-07-01: 8.5
MAPE from 2020-07-01 to 2021-01-01: 16.0
MAPE from 2021-01-01 to 2021-07-01: 14.9
MAPE from 2021-07-01 to 2022-01-01: 3.6
MAPE from 2022-01-01 to 2022-07-01: 15.8
MAPE from 2022-07-01 to 2023-01-01: 4.1
MAPE from 2023-01-01 to 2023-07-01: 14.8
MAPE from 2023-07-01 to 2024-01-01: 8.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.3

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 15.2
MAPE from 2019-07-01 to 2020-01-01: 12.0
MAPE from 2020-01-01 to 2020-07-01: 10.0
MAPE from 2020-07-01 to 2021-01-01: 16.4
MAPE from 2021-01-01 to 2021-07-01: 13.3
MAPE from 2021-07-01 to 2022-01-01: 3.2
MAPE from 2022-01-01 to 2022-07-01: 18.1
MAPE from 2022-07-01 to 2023-01-01: 5.0
MAPE from 2023-01-01 to 2023-07-01: 18.9
MAPE from 2023-07-01 to 2024-01-01: 9.9

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.2

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 15.2
MAPE from 2019-07-01 to 2020-01-01: 13.6
MAPE from 2020-01-01 to 2020-07-01: 11.1
MAPE from 2020-07-01 to 2021-01-01: 16.7
MAPE from 2021-01-01 to 2021-07-01: 6.7
MAPE from 2021-07-01 to 2022-01-01: 3.8
MAPE from 2022-01-01 to 2022-07-01: 21.3
MAPE from 2022-07-01 to 2023-01-01: 6.4
MAPE from 2023-01-01 to 2023-07-01: 16.6
MAPE from 2023-07-01 to 2024-01-01: 9.8

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 12.1

## 0002

In [ ]:
feature_df = df_0002

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 12 to 107
Data columns (total 53 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PNGASEUUSDM_1      96 non-null     float64
 6   PPOILUSDM_1        96 non-null     float64
 7   Electricity_1      96 non-null     float64
 8   PNGASEUUSDM_2      96 non-null     float64
 9   PPOILUSDM_2        96 non-null     float64
 10  Electricity_2      96 non-null     float64
 11  PNGASEUUSDM_3      96 non-null     float64
 12  PPOILUSDM_3        96 non-null     float64
 13  Electricity_3      96 non-null     float64
 14  PNGASEUUSDM_4      96 non-null     float64
 15  PPOILUSDM_4        96 non-null     float64
 16  Electricity_4      96 non-null     float64
 17  PNGASEUUSDM_5      96 non-null     float64
 18  PPOILUSDM_5        96 non-null     float64
 19  Electricity_5      96 non-null     float64
 20  PNGASEUUSDM_6      96 non-null     float64
 21  PPOILUSDM_6        96 non-null     float64
 22  Electricity_6      96 non-null     float64
 23  PNGASEUUSDM_7      96 non-null     float64
 24  PPOILUSDM_7        96 non-null     float64
 25  Electricity_7      96 non-null     float64
 26  PNGASEUUSDM_8      96 non-null     float64
 27  PPOILUSDM_8        96 non-null     float64
 28  Electricity_8      96 non-null     float64
 29  PNGASEUUSDM_9      96 non-null     float64
 30  PPOILUSDM_9        96 non-null     float64
 31  Electricity_9      96 non-null     float64
 32  PNGASEUUSDM_10     96 non-null     float64
 33  PPOILUSDM_10       96 non-null     float64
 34  Electricity_10     96 non-null     float64
 35  PNGASEUUSDM_11     96 non-null     float64
 36  PPOILUSDM_11       96 non-null     float64
 37  Electricity_11     96 non-null     float64
 38  PNGASEUUSDM_12     96 non-null     float64
 39  PPOILUSDM_12       96 non-null     float64
 40  Electricity_12     96 non-null     float64
 41  AR_1               96 non-null     float64
 42  AR_2               96 non-null     float64
 43  AR_3               96 non-null     float64
 44  AR_4               96 non-null     float64
 45  AR_5               96 non-null     float64
 46  AR_6               96 non-null     float64
 47  AR_7               96 non-null     float64
 48  AR_8               96 non-null     float64
 49  AR_9               96 non-null     float64
 50  AR_10              96 non-null     float64
 51  AR_11              96 non-null     float64
 52  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(49), int64(2), object(1)
memory usage: 40.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 4.2
MAPE from 2019-07-01 to 2020-01-01: 5.1
MAPE from 2020-01-01 to 2020-07-01: 6.4
MAPE from 2020-07-01 to 2021-01-01: 7.9
MAPE from 2021-01-01 to 2021-07-01: 9.5
MAPE from 2021-07-01 to 2022-01-01: 5.5
MAPE from 2022-01-01 to 2022-07-01: 13.2
MAPE from 2022-07-01 to 2023-01-01: 6.5
MAPE from 2023-01-01 to 2023-07-01: 15.7
MAPE from 2023-07-01 to 2024-01-01: 6.7

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 8.1

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 3.6
MAPE from 2019-07-01 to 2020-01-01: 4.3
MAPE from 2020-01-01 to 2020-07-01: 6.3
MAPE from 2020-07-01 to 2021-01-01: 8.5
MAPE from 2021-01-01 to 2021-07-01: 11.6
MAPE from 2021-07-01 to 2022-01-01: 5.7
MAPE from 2022-01-01 to 2022-07-01: 13.8
MAPE from 2022-07-01 to 2023-01-01: 6.8
MAPE from 2023-01-01 to 2023-07-01: 16.2
MAPE from 2023-07-01 to 2024-01-01: 7.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 8.4

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 4.7
MAPE from 2019-07-01 to 2020-01-01: 4.6
MAPE from 2020-01-01 to 2020-07-01: 6.4
MAPE from 2020-07-01 to 2021-01-01: 9.7
MAPE from 2021-01-01 to 2021-07-01: 15.8
MAPE from 2021-07-01 to 2022-01-01: 10.8
MAPE from 2022-01-01 to 2022-07-01: 18.9
MAPE from 2022-07-01 to 2023-01-01: 10.9
MAPE from 2023-01-01 to 2023-07-01: 13.1
MAPE from 2023-07-01 to 2024-01-01: 7.6

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 10.2

# Solvents

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/solvent_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM08/0010  RM08/0017  Year  Month       Time Group Description  \
13       False       True  2016      1 2016-01-31           solvent
14       False       True  2016      2 2016-02-29           solvent
15       False       True  2016      3 2016-03-31           solvent
16       False       True  2016      4 2016-04-30           solvent
17       False       True  2016      5 2016-05-31           solvent
..         ...        ...   ...    ...        ...               ...
215       True      False  2023      8 2023-08-31           solvent
216       True      False  2023      9 2023-09-30           solvent
217       True      False  2023     10 2023-10-24           solvent
218       True      False  2023     11 2023-11-30           solvent
219       True      False  2023     12 2023-12-20           solvent

     Average_price  PPOILUSDM_1  PPOILUSDM_2  PPOILUSDM_3  ...      AR_3  \
13        1.031000   520.602568   503.163620   530.246640  ...  1.070000
14        1.031000   531.619443   520.602568   503.163620  ...  1.057500
15        1.017000   595.900683   531.619443   520.602568  ...  1.053333
16        1.016500   633.067783   595.900683   531.619443  ...  1.031000
17        1.016000   680.375487   633.067783   595.900683  ...  1.031000
..             ...          ...          ...          ...  ...       ...
215       0.707192   844.977017   769.098477   834.628551  ...  1.111484
216       1.307470   823.608175   844.977017   769.098477  ...  0.801200
217       0.565000   790.712156   823.608175   844.977017  ...  0.807500
218       0.660000   767.481335   790.712156   823.608175  ...  0.707192
219       1.836248   795.987931   767.481335   790.712156  ...  1.307470

         AR_4      AR_5      AR_6      AR_7      AR_8      AR_9     AR_10  \
13   1.035000  1.035000  1.152000  1.030000  1.250000  1.220000  1.190000
14   1.070000  1.035000  1.035000  1.152000  1.030000  1.250000  1.220000
15   1.057500  1.070000  1.035000  1.035000  1.152000  1.030000  1.250000
16   1.053333  1.057500  1.070000  1.035000  1.035000  1.152000  1.030000
17   1.031000  1.053333  1.057500  1.070000  1.035000  1.035000  1.152000
..        ...       ...       ...       ...       ...       ...       ...
215  2.141228  1.015000  1.442252  1.223333  1.821984  1.430000  2.979343
216  1.111484  2.141228  1.015000  1.442252  1.223333  1.821984  1.430000
217  0.801200  1.111484  2.141228  1.015000  1.442252  1.223333  1.821984
218  0.807500  0.801200  1.111484  2.141228  1.015000  1.442252  1.223333
219  0.707192  0.807500  0.801200  1.111484  2.141228  1.015000  1.442252

        AR_11     AR_12
13   1.190000  1.250000
14   1.190000  1.190000
15   1.220000  1.190000
16   1.250000  1.220000
17   1.030000  1.250000
..        ...       ...
215  2.665000  2.997037
216  2.979343  2.665000
217  1.430000  2.979343
218  1.821984  1.430000
219  1.223333  1.821984

[186 rows x 31 columns]

In [ ]:
df_0010 = feature_df[feature_df['RM08/0010'] == 1]
print(df_0010.info())

<class 'pandas.core.frame.DataFrame'>
Index: 91 entries, 124 to 219
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM08/0010          91 non-null     bool
 1   RM08/0017          91 non-null     bool
 2   Year               91 non-null     int64
 3   Month              91 non-null     int64
 4   Time               91 non-null     datetime64[ns]
 5   Group Description  91 non-null     object
 6   Average_price      91 non-null     float64
 7   PPOILUSDM_1        91 non-null     float64
 8   PPOILUSDM_2        91 non-null     float64
 9   PPOILUSDM_3        91 non-null     float64
 10  PPOILUSDM_4        91 non-null     float64
 11  PPOILUSDM_5        91 non-null     float64
 12  PPOILUSDM_6        91 non-null     float64
 13  PPOILUSDM_7        91 non-null     float64
 14  PPOILUSDM_8        91 non-null     float64
 15  PPOILUSDM_9        91 non-null     float64
 16  PPOILUSDM_10       91 non-null     float64
 17  PPOILUSDM_11       91 non-null     float64
 18  PPOILUSDM_12       91 non-null     float64
 19  AR_1               91 non-null     float64
 20  AR_2               91 non-null     float64
 21  AR_3               91 non-null     float64
 22  AR_4               91 non-null     float64
 23  AR_5               91 non-null     float64
 24  AR_6               91 non-null     float64
 25  AR_7               91 non-null     float64
 26  AR_8               91 non-null     float64
 27  AR_9               91 non-null     float64
 28  AR_10              91 non-null     float64
 29  AR_11              91 non-null     float64
 30  AR_12              91 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(25), int64(2), object(1)
memory usage: 21.5+ KB
None

In [ ]:
df_0017 = feature_df[feature_df['RM08/0017'] == 1]
print(df_0017.info())

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 13 to 108
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RM08/0010          95 non-null     bool
 1   RM08/0017          95 non-null     bool
 2   Year               95 non-null     int64
 3   Month              95 non-null     int64
 4   Time               95 non-null     datetime64[ns]
 5   Group Description  95 non-null     object
 6   Average_price      95 non-null     float64
 7   PPOILUSDM_1        95 non-null     float64
 8   PPOILUSDM_2        95 non-null     float64
 9   PPOILUSDM_3        95 non-null     float64
 10  PPOILUSDM_4        95 non-null     float64
 11  PPOILUSDM_5        95 non-null     float64
 12  PPOILUSDM_6        95 non-null     float64
 13  PPOILUSDM_7        95 non-null     float64
 14  PPOILUSDM_8        95 non-null     float64
 15  PPOILUSDM_9        95 non-null     float64
 16  PPOILUSDM_10       95 non-null     float64
 17  PPOILUSDM_11       95 non-null     float64
 18  PPOILUSDM_12       95 non-null     float64
 19  AR_1               95 non-null     float64
 20  AR_2               95 non-null     float64
 21  AR_3               95 non-null     float64
 22  AR_4               95 non-null     float64
 23  AR_5               95 non-null     float64
 24  AR_6               95 non-null     float64
 25  AR_7               95 non-null     float64
 26  AR_8               95 non-null     float64
 27  AR_9               95 non-null     float64
 28  AR_10              95 non-null     float64
 29  AR_11              95 non-null     float64
 30  AR_12              95 non-null     float64
dtypes: bool(2), datetime64[ns](1), float64(25), int64(2), object(1)
memory usage: 22.5+ KB
None

## 0010

In [ ]:
feature_df = df_0010

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 91 entries, 124 to 219
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               91 non-null     int64
 1   Month              91 non-null     int64
 2   Time               91 non-null     datetime64[ns]
 3   Group Description  91 non-null     object
 4   Average_price      91 non-null     float64
 5   PPOILUSDM_1        91 non-null     float64
 6   PPOILUSDM_2        91 non-null     float64
 7   PPOILUSDM_3        91 non-null     float64
 8   PPOILUSDM_4        91 non-null     float64
 9   PPOILUSDM_5        91 non-null     float64
 10  PPOILUSDM_6        91 non-null     float64
 11  PPOILUSDM_7        91 non-null     float64
 12  PPOILUSDM_8        91 non-null     float64
 13  PPOILUSDM_9        91 non-null     float64
 14  PPOILUSDM_10       91 non-null     float64
 15  PPOILUSDM_11       91 non-null     float64
 16  PPOILUSDM_12       91 non-null     float64
 17  AR_1               91 non-null     float64
 18  AR_2               91 non-null     float64
 19  AR_3               91 non-null     float64
 20  AR_4               91 non-null     float64
 21  AR_5               91 non-null     float64
 22  AR_6               91 non-null     float64
 23  AR_7               91 non-null     float64
 24  AR_8               91 non-null     float64
 25  AR_9               91 non-null     float64
 26  AR_10              91 non-null     float64
 27  AR_11              91 non-null     float64
 28  AR_12              91 non-null     float64
dtypes: datetime64[ns](1), float64(25), int64(2), object(1)
memory usage: 21.3+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 13.5
MAPE from 2019-07-01 to 2020-01-01: 23.2
MAPE from 2020-01-01 to 2020-07-01: 18.6
MAPE from 2020-07-01 to 2021-01-01: 14.6
MAPE from 2021-01-01 to 2021-07-01: 13.3
MAPE from 2021-07-01 to 2022-01-01: 24.8
MAPE from 2022-01-01 to 2022-07-01: 31.6
MAPE from 2022-07-01 to 2023-01-01: 38.7
MAPE from 2023-01-01 to 2023-07-01: 30.8
MAPE from 2023-07-01 to 2024-01-01: 61.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 27.0

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.3)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 13.4
MAPE from 2019-07-01 to 2020-01-01: 23.2
MAPE from 2020-01-01 to 2020-07-01: 19.4
MAPE from 2020-07-01 to 2021-01-01: 13.4
MAPE from 2021-01-01 to 2021-07-01: 13.9
MAPE from 2021-07-01 to 2022-01-01: 24.0
MAPE from 2022-01-01 to 2022-07-01: 31.8
MAPE from 2022-07-01 to 2023-01-01: 38.9
MAPE from 2023-01-01 to 2023-07-01: 37.5
MAPE from 2023-07-01 to 2024-01-01: 64.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 27.9

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.4)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 15.1
MAPE from 2019-07-01 to 2020-01-01: 20.9
MAPE from 2020-01-01 to 2020-07-01: 18.6
MAPE from 2020-07-01 to 2021-01-01: 13.5
MAPE from 2021-01-01 to 2021-07-01: 16.2
MAPE from 2021-07-01 to 2022-01-01: 32.6
MAPE from 2022-01-01 to 2022-07-01: 41.9
MAPE from 2022-07-01 to 2023-01-01: 36.6
MAPE from 2023-01-01 to 2023-07-01: 40.6
MAPE from 2023-07-01 to 2024-01-01: 65.6

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 30.2

## 0017

In [ ]:
feature_df = df_0017

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 13 to 108
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               95 non-null     int64
 1   Month              95 non-null     int64
 2   Time               95 non-null     datetime64[ns]
 3   Group Description  95 non-null     object
 4   Average_price      95 non-null     float64
 5   PPOILUSDM_1        95 non-null     float64
 6   PPOILUSDM_2        95 non-null     float64
 7   PPOILUSDM_3        95 non-null     float64
 8   PPOILUSDM_4        95 non-null     float64
 9   PPOILUSDM_5        95 non-null     float64
 10  PPOILUSDM_6        95 non-null     float64
 11  PPOILUSDM_7        95 non-null     float64
 12  PPOILUSDM_8        95 non-null     float64
 13  PPOILUSDM_9        95 non-null     float64
 14  PPOILUSDM_10       95 non-null     float64
 15  PPOILUSDM_11       95 non-null     float64
 16  PPOILUSDM_12       95 non-null     float64
 17  AR_1               95 non-null     float64
 18  AR_2               95 non-null     float64
 19  AR_3               95 non-null     float64
 20  AR_4               95 non-null     float64
 21  AR_5               95 non-null     float64
 22  AR_6               95 non-null     float64
 23  AR_7               95 non-null     float64
 24  AR_8               95 non-null     float64
 25  AR_9               95 non-null     float64
 26  AR_10              95 non-null     float64
 27  AR_11              95 non-null     float64
 28  AR_12              95 non-null     float64
dtypes: datetime64[ns](1), float64(25), int64(2), object(1)
memory usage: 22.3+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.01)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 3.1
MAPE from 2019-07-01 to 2020-01-01: 2.0
MAPE from 2020-01-01 to 2020-07-01: 0.5
MAPE from 2020-07-01 to 2021-01-01: 2.3
MAPE from 2021-01-01 to 2021-07-01: 4.9
MAPE from 2021-07-01 to 2022-01-01: 6.0
MAPE from 2022-01-01 to 2022-07-01: 8.7
MAPE from 2022-07-01 to 2023-01-01: 17.2
MAPE from 2023-01-01 to 2023-07-01: 14.0
MAPE from 2023-07-01 to 2024-01-01: 4.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 6.3

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.01)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 5.6
MAPE from 2019-07-01 to 2020-01-01: 5.5
MAPE from 2020-01-01 to 2020-07-01: 0.5
MAPE from 2020-07-01 to 2021-01-01: 3.7
MAPE from 2021-01-01 to 2021-07-01: 6.5
MAPE from 2021-07-01 to 2022-01-01: 18.8
MAPE from 2022-01-01 to 2022-07-01: 7.5
MAPE from 2022-07-01 to 2023-01-01: 28.0
MAPE from 2023-01-01 to 2023-07-01: 20.0
MAPE from 2023-07-01 to 2024-01-01: 14.4

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.1

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.01)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 4.2
MAPE from 2019-07-01 to 2020-01-01: 7.0
MAPE from 2020-01-01 to 2020-07-01: 0.6
MAPE from 2020-07-01 to 2021-01-01: 3.6
MAPE from 2021-01-01 to 2021-07-01: 8.5
MAPE from 2021-07-01 to 2022-01-01: 33.9
MAPE from 2022-01-01 to 2022-07-01: 16.8
MAPE from 2022-07-01 to 2023-01-01: 31.3
MAPE from 2023-01-01 to 2023-07-01: 30.4
MAPE from 2023-07-01 to 2024-01-01: 45.1

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 18.1

# Fatty acid

In [ ]:
feature_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Thesis/dataframe/fatty acid_feature.csv',index_col=0)
feature_df['Time'] = pd.to_datetime(feature_df['Time'])
print(feature_df)

     RM14/0001  Year  Month       Time Group Description  Average_price  \
14        True  2016      1 2016-01-29        fatty acid       0.650000
15        True  2016      2 2016-02-29        fatty acid       0.749500
16        True  2016      3 2016-03-31        fatty acid       0.904000
17        True  2016      4 2016-04-30        fatty acid       0.980333
18        True  2016      5 2016-05-31        fatty acid       0.939663
..         ...   ...    ...        ...               ...            ...
105       True  2023      8 2023-08-31        fatty acid       1.617296
106       True  2023      9 2023-09-30        fatty acid       1.371400
107       True  2023     10 2023-10-31        fatty acid       1.534868
108       True  2023     11 2023-11-30        fatty acid       1.386338
109       True  2023     12 2023-12-29        fatty acid       1.502477

     PPOILUSDM_1  PPOILUSDM_2  PPOILUSDM_3  PPOILUSDM_4  ...      AR_3  \
14    520.602568   503.163620   530.246640   483.487308  ...  0.846667
15    531.619443   520.602568   503.163620   530.246640  ...  0.650000
16    595.900683   531.619443   520.602568   503.163620  ...  0.650000
17    633.067783   595.900683   531.619443   520.602568  ...  0.650000
18    680.375487   633.067783   595.900683   531.619443  ...  0.749500
..           ...          ...          ...          ...  ...       ...
105   844.977017   769.098477   834.628551   934.809682  ...  1.695752
106   823.608175   844.977017   769.098477   834.628551  ...  1.514747
107   790.712156   823.608175   844.977017   769.098477  ...  1.402889
108   767.481335   790.712156   823.608175   844.977017  ...  1.617296
109   795.987931   767.481335   790.712156   823.608175  ...  1.371400

         AR_4      AR_5      AR_6      AR_7      AR_8      AR_9     AR_10  \
14   0.943333  1.090000  1.140000  1.127500  0.975000  0.910333  0.910333
15   0.846667  0.943333  1.090000  1.140000  1.127500  0.975000  0.910333
16   0.650000  0.846667  0.943333  1.090000  1.140000  1.127500  0.975000
17   0.650000  0.650000  0.846667  0.943333  1.090000  1.140000  1.127500
18   0.650000  0.650000  0.650000  0.846667  0.943333  1.090000  1.140000
..        ...       ...       ...       ...       ...       ...       ...
105  1.738096  1.672948  1.760050  1.922347  2.083766  2.476585  2.387459
106  1.695752  1.738096  1.672948  1.760050  1.922347  2.083766  2.476585
107  1.514747  1.695752  1.738096  1.672948  1.760050  1.922347  2.083766
108  1.402889  1.514747  1.695752  1.738096  1.672948  1.760050  1.922347
109  1.617296  1.402889  1.514747  1.695752  1.738096  1.672948  1.760050

        AR_11     AR_12
14   0.860000  0.917333
15   0.910333  0.860000
16   0.910333  0.910333
17   0.975000  0.910333
18   1.127500  0.975000
..        ...       ...
105  2.363700  2.459529
106  2.387459  2.363700
107  2.476585  2.387459
108  2.083766  2.476585
109  1.922347  2.083766

[96 rows x 30 columns]

In [ ]:
columns_to_drop = [column for column in feature_df.columns if 'RM' in column]
feature_df = feature_df.drop(columns=columns_to_drop)
print(feature_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 14 to 109
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               96 non-null     int64
 1   Month              96 non-null     int64
 2   Time               96 non-null     datetime64[ns]
 3   Group Description  96 non-null     object
 4   Average_price      96 non-null     float64
 5   PPOILUSDM_1        96 non-null     float64
 6   PPOILUSDM_2        96 non-null     float64
 7   PPOILUSDM_3        96 non-null     float64
 8   PPOILUSDM_4        96 non-null     float64
 9   PPOILUSDM_5        96 non-null     float64
 10  PPOILUSDM_6        96 non-null     float64
 11  PPOILUSDM_7        96 non-null     float64
 12  PPOILUSDM_8        96 non-null     float64
 13  PPOILUSDM_9        96 non-null     float64
 14  PPOILUSDM_10       96 non-null     float64
 15  PPOILUSDM_11       96 non-null     float64
 16  PPOILUSDM_12       96 non-null     float64
 17  AR_1               96 non-null     float64
 18  AR_2               96 non-null     float64
 19  AR_3               96 non-null     float64
 20  AR_4               96 non-null     float64
 21  AR_5               96 non-null     float64
 22  AR_6               96 non-null     float64
 23  AR_7               96 non-null     float64
 24  AR_8               96 non-null     float64
 25  AR_9               96 non-null     float64
 26  AR_10              96 non-null     float64
 27  AR_11              96 non-null     float64
 28  AR_12              96 non-null     float64
dtypes: datetime64[ns](1), float64(25), int64(2), object(1)
memory usage: 22.5+ KB
None

### 1-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_1(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 10.3
MAPE from 2019-07-01 to 2020-01-01: 14.2
MAPE from 2020-01-01 to 2020-07-01: 21.0
MAPE from 2020-07-01 to 2021-01-01: 22.6
MAPE from 2021-01-01 to 2021-07-01: 7.1
MAPE from 2021-07-01 to 2022-01-01: 11.3
MAPE from 2022-01-01 to 2022-07-01: 10.3
MAPE from 2022-07-01 to 2023-01-01: 8.7
MAPE from 2023-01-01 to 2023-07-01: 3.5
MAPE from 2023-07-01 to 2024-01-01: 9.2

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 11.8

### 3-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_3(start, end, 0.2)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 11.8
MAPE from 2019-07-01 to 2020-01-01: 11.1
MAPE from 2020-01-01 to 2020-07-01: 30.1
MAPE from 2020-07-01 to 2021-01-01: 23.3
MAPE from 2021-01-01 to 2021-07-01: 9.6
MAPE from 2021-07-01 to 2022-01-01: 8.5
MAPE from 2022-01-01 to 2022-07-01: 15.2
MAPE from 2022-07-01 to 2023-01-01: 12.8
MAPE from 2023-01-01 to 2023-07-01: 5.3
MAPE from 2023-07-01 to 2024-01-01: 7.3

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.5

### 6-month prediction

In [ ]:
mape_values = []
for start, end in test_periods:
    mape = calculate_mape_6(start, end, 0.1)
    mape_values.append(mape)
    print(f"MAPE from {start} to {end}: {mape:.1f}")

MAPE from 2019-01-01 to 2019-07-01: 19.2
MAPE from 2019-07-01 to 2020-01-01: 12.3
MAPE from 2020-01-01 to 2020-07-01: 20.5
MAPE from 2020-07-01 to 2021-01-01: 29.9
MAPE from 2021-01-01 to 2021-07-01: 7.5
MAPE from 2021-07-01 to 2022-01-01: 14.5
MAPE from 2022-01-01 to 2022-07-01: 13.3
MAPE from 2022-07-01 to 2023-01-01: 6.9
MAPE from 2023-01-01 to 2023-07-01: 5.5
MAPE from 2023-07-01 to 2024-01-01: 8.0

In [ ]:
average_mape = np.mean(mape_values)
print(f"Average MAPE: {average_mape:.1f}")

Average MAPE: 13.8